//- bakgrund.pug
extends layout.pug

block head
    title Bakgrund - Stall Stjärnholm 
    meta(name='description', content='DESCRIPTION')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Bakgrund
                p.lead.mb-5
                    | En berättelse om bakgrunden till Helenas hästverksamhet

                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2
                        .row.g-0
                            .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/3ars008_2.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/Landcruiserenbild3ars.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/IMG_5336.jpg" height="80%")

                - current_year = (new Date()).getFullYear();
                - helena_horse_years = (current_year - 1974).toString().slice(-2)

                h2 Helena 
                p.lead.mb-5
                    | Jag har hållt på med hästar i drygt #{helena_horse_years} år, och jobbar till vardags som läkare vid Försvarsmakten.

                h2 70-talet och 80-talet
                p.lead.mb-5
                    | År 1974 började jag min ridbana hos Bränna-Karin, där jag också var barn- och ungdomsridärare under några år, samt red och tävlade lokalt/regionalt. Foto nedan tillhör Åsa Roosqvist och är taget kring 1981, Bränna-Karin till höger och jag går i vattnet :)

                img.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/170769_491198338345_5372938_o.jpg")

                h2 90-talet 
                p.lead.mb-3
                    | År 1990 när jag flyttade jag till Uppsala och Läkarlinjen, köpte jag min första egna häst 1991, Mr Statesman, Tävlade i hoppning på 3 student-SM (med ett SM-silver och en 5:e placering i som bästa resultat), och på 3 internationella tävlingar (Frankrike, Tyskland, Irland). 4:e plats som lag på Irland. Internationellt får man nöjet att tävla både i dressyr och hoppning. Jag läste utbildningen "Avel och Utfodring av Häst" på Ultuna under 5 veckor, en fantastiskt rolig kurs (roligastekursen jag gått), som jag visste att jag skulle få nytta av, någon gång! Efter en avslutande termin vid Oxfords universitet var mina läkarstudier färdiga och jag flyttade hem till Boden 1996 för läkarjobb.
                p.lead.mb-5 
                    | År 1994 köpte jag 2-åriga Fabian e. National Zenith xx - Curacao xx. Han fick strålande poäng i Talangjakten som 3-åring (dåtidens 3-årstest) och blev Klass 1 både i hoppning och dressyr på Strömsholm, reds av Sigrid Bergåkra. När jag var gravid reds Fabian några månader av Agnetha Lindelöw i Skåne. Fabian levde ända till han var 27 år. År 1999 köpte jag fölet Landcruiser (e. Landlord - Irco Mena - Prince Fair xx), en av underbara Månstrimmas (ELIT) fantastiska avkommor som presterat så väl nationellt som vid unghäst-VM och exp USA, Vid 5 års ålder fick Landcruiser dessvärre en akut nackskada.

                h2 2010 
                p.lead.mb-5
                    | År 2010 köpte jag fölet Brooklyn BC (e. Balougraph - Cap Calando) från Stall BC i Skåne, som föl. En helt fantastisk individ: 8-8 på 3-årstestet, 8-8 på uppsuttna delen, gick till semifinal som 4-åring i Breeders, hoppade Falsterbo som 5-åring samt Breeders på Flyinge samma höst, och såldes en månad senare till Lotta Hyttinen i Finland.

                h2 2012 
                p.lead.mb-5
                    | 2012 köpte vi ett stall för att kunna ha möjlighet att ha egna avelsston för hopphästuppfödning, och det blev starten på Stjärnholm Equestrian AB. April 2012 köpte jag skimmelstoet West Somerset (f. -05, e. Cardento - Irco Marco) som betäcktes med Casall-sonen Cabachon. Fölet Confidence SH blev vårt välkomna första föl, en mörk skönhet som blev skimmel som sin mamma. Confidence såldes till hoppryttaren Sara Nilsson i Skåne. Numera bor hon i Uppsala och är avelssto, har fått 2 hingstföl (e. Diarado samt e. Diamant de Semilly). I december 2012 köpte jag mörkbruna stoet Polly (f. -07 e. Irco Mena - Magritte).

                h2 2013 
                p.lead.mb-5
                    | I april 2013 köpte jag fuxfärgade stoet Qui-Qui Line (f. -06) , med fantastisk stam: e. Quidam de Revel - Quito de Baussy. Hennes son Balisco Line vann som 7-åring i Falsterbo. 

                h2 2014 
                p.lead.mb-5
                    | I maj 2014 köpe jag Lacombe f. -97, helsystern till min förra häst Landcruiser. Hon har gått som avelssto och fött många fina föl, 2015 fick hon sitt sista föl, Champagne SH, och i december 2015 fick tyvärr fina Lacombe gå till de sälla jaktmarkerna.

                h2 2015 
                p.lead.mb-5
                    | 2015 köpte jag Part Two (f.-00) e. Cortus-Ralmé Z, ett sto som tävlat framgångsrikt upp till int 1,40 och hon är storasyster till välkända Nice Stephanie.

                h2 2016 
                p.lead.mb-5
                    | 2016 köpte jag Diva f.-00 (Cardento - Lenski), och äntligen hade jag två fina Cardento-ston i avell! Divas föl Atmosphere SH blev det första fölet vi sålde utomlands. Han är numera godkänd avelshingst.

                h2 2017 
                p.lead.mb-5
                    | 2017 köpte jag avelsstona Wild Card (Cardento - Diaglyphard xx) och Amazing Lady (Lord Z - Levanto II) från familjen Caster samt Main Hillary från Grevlundagården/Lisen Bratt-Fredricson och Marina Björkman.

                h2 2018 
                p.lead.mb-5
                    | 2018 inköptes systern till Hilly: Main Question (Cabachon - Irco Marco), från Victoria Almgren, Kordelia M (Cortez - Ralmé Z) från Malin Stiernstedt, och senare samma år köptes avelsstoet DiaNova (Diarado - Cardento) från Magdalena Regårdh.

                h2 2019 
                p.lead.mb-5
                    | 2019 såldes 4 avelsston, Part Two, Polly, Kordelia M samt West Somerset, och ett sto fick tyvärr tas bort pga sjukdom, Claire de Lune. Samma år köpte vi 3 embryon i Belgien med riktiga toppstammar.

                h2 2020 
                p.lead.mb-5
                    | 2020 köptes avelsstona Nova Scotia dÌve från Stall Hemmet, och Bellezza MagiQ från Erika Lickhammer van Helmond och Ankan Carlsson. Samma år såldes avelsstona Wild Card, Amazing Lady och Diva. 2020/2021 fick vi på Main Hillary flera frysta embryon via ICSI Chacco Blue, For Pleasure, Baloubet du Rouet samt Cornet Obolensky.

                h2 2021 
                p.lead.mb-5
                    | 2021 fick vi en enäggstvillingdräktighet med Aganix du Seigneur vid ET på Keros i Belgien, intervention gjordes via universitetskliniken i Ghent, men det embryo som man försökte ta bort överlevde, båda gick tiden ut, och ena hingstfölet överlevde och är fantastiskt vacker! I slutet av 2021 såldes en av våra uppfödningar till USA, Celebration SH.

                h2 2022 
                p.lead.mb-5
                    | 2022 köptes Champagne SH tillbaka av oss, Hon är sista avkomman från stoet Lacombe. Pga skada ska fina Champagne SH få ett fortsatt liv som avelssto. Just nu har vi alla seminerade 4 avelsston dräktiga, och dessutom har vi tagit hem 3 ICSI/ET ston från Holland/Danmark, som också är dräktiga. Vi väntar föl e. Chacco Blue, Baloubet du Rouet, Conthargos, Chacootino PS, Kentucky van't Ruytershof, Heartbeat och Tangelo v/d Zuuthoeve.
                








