//- bakgrund.pug
extends layout.pug

block head
    title Bakgrund - Stall Stj칛rnholm 
    meta(name='description', content='En ber칛ttelse om bakgrunden till Helenas h칛stverksamhet')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Bakgrund
                p.lead.mb-5
                    | En ber칛ttelse om bakgrunden till Helenas h칛stverksamhet

                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2
                        .row.g-0
                            .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/3ars008_2.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/Landcruiserenbild3ars.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/IMG_5336.jpg" height="80%")

                - current_year = (new Date()).getFullYear();
                - helena_horse_years = (current_year - 1974).toString().slice(-2)

                h2 Helena 
                p.lead.mb-5
                    | Jag har h친llt p친 med h칛star i drygt #{helena_horse_years} 친r, och jobbar till vardags som l칛kare vid F칬rsvarsmakten.

                h2 70-talet och 80-talet
                p.lead.mb-5
                    | 칀r 1974 b칬rjade jag min ridbana hos Br칛nna-Karin, d칛r jag ocks친 var barn- och ungdomsrid칛rare under n친gra 친r, samt red och t칛vlade lokalt/regionalt. Foto nedan tillh칬r 칀sa Roosqvist och 칛r taget kring 1981, Br칛nna-Karin till h칬ger och jag g친r i vattnet :)

                img.shadow-1-strong.rounded.mb-4(src="assets/img/bakgrund/170769_491198338345_5372938_o.jpg")

                h2 90-talet 
                p.lead.mb-3
                    | 칀r 1990 n칛r jag flyttade jag till Uppsala och L칛karlinjen, k칬pte jag min f칬rsta egna h칛st 1991, Mr Statesman, T칛vlade i hoppning p친 3 student-SM (med ett SM-silver och en 5:e placering i som b칛sta resultat), och p친 3 internationella t칛vlingar (Frankrike, Tyskland, Irland). 4:e plats som lag p친 Irland. Internationellt f친r man n칬jet att t칛vla b친de i dressyr och hoppning. Jag l칛ste utbildningen "Avel och Utfodring av H칛st" p친 Ultuna under 5 veckor, en fantastiskt rolig kurs (roligastekursen jag g친tt), som jag visste att jag skulle f친 nytta av, n친gon g친ng! Efter en avslutande termin vid Oxfords universitet var mina l칛karstudier f칛rdiga och jag flyttade hem till Boden 1996 f칬r l칛karjobb.
                p.lead.mb-5 
                    | 칀r 1994 k칬pte jag 2-친riga Fabian e. National Zenith xx - Curacao xx. Han fick str친lande po칛ng i Talangjakten som 3-친ring (d친tidens 3-친rstest) och blev Klass 1 b친de i hoppning och dressyr p친 Str칬msholm, reds av Sigrid Berg친kra. N칛r jag var gravid reds Fabian n친gra m친nader av Agnetha Lindel칬w i Sk친ne. Fabian levde 칛nda till han var 27 친r. 칀r 1999 k칬pte jag f칬let Landcruiser (e. Landlord - Irco Mena - Prince Fair xx), en av underbara M친nstrimmas (ELIT) fantastiska avkommor som presterat s친 v칛l nationellt som vid ungh칛st-VM och exp USA, Vid 5 친rs 친lder fick Landcruiser dessv칛rre en akut nackskada.

                h2 2010 
                p.lead.mb-5
                    | 칀r 2010 k칬pte jag f칬let Brooklyn BC (e. Balougraph - Cap Calando) fr친n Stall BC i Sk친ne, som f칬l. En helt fantastisk individ: 8-8 p친 3-친rstestet, 8-8 p친 uppsuttna delen, gick till semifinal som 4-친ring i Breeders, hoppade Falsterbo som 5-친ring samt Breeders p친 Flyinge samma h칬st, och s친ldes en m친nad senare till Lotta Hyttinen i Finland.

                h2 2012 
                p.lead.mb-5
                    | 2012 k칬pte vi ett stall f칬r att kunna ha m칬jlighet att ha egna avelsston f칬r hopph칛stuppf칬dning, och det blev starten p친 Stj칛rnholm Equestrian AB. April 2012 k칬pte jag skimmelstoet West Somerset (f. -05, e. Cardento - Irco Marco) som bet칛cktes med Casall-sonen Cabachon. F칬let Confidence SH blev v친rt v칛lkomna f칬rsta f칬l, en m칬rk sk칬nhet som blev skimmel som sin mamma. Confidence s친ldes till hoppryttaren Sara Nilsson i Sk친ne. Numera bor hon i Uppsala och 칛r avelssto, har f친tt 2 hingstf칬l (e. Diarado samt e. Diamant de Semilly). I december 2012 k칬pte jag m칬rkbruna stoet Polly (f. -07 e. Irco Mena - Magritte).

                h2 2013 
                p.lead.mb-5
                    | I april 2013 k칬pte jag fuxf칛rgade stoet Qui-Qui Line (f. -06) , med fantastisk stam: e. Quidam de Revel - Quito de Baussy. Hennes son Balisco Line vann som 7-친ring i Falsterbo. 

                h2 2014 
                p.lead.mb-5
                    | I maj 2014 k칬pe jag Lacombe f. -97, helsystern till min f칬rra h칛st Landcruiser. Hon har g친tt som avelssto och f칬tt m친nga fina f칬l, 2015 fick hon sitt sista f칬l, Champagne SH, och i december 2015 fick tyv칛rr fina Lacombe g친 till de s칛lla jaktmarkerna.

                h2 2015 
                p.lead.mb-5
                    | 2015 k칬pte jag Part Two (f.-00) e. Cortus-Ralm칠 Z, ett sto som t칛vlat framg친ngsrikt upp till int 1,40 och hon 칛r storasyster till v칛lk칛nda Nice Stephanie.

                h2 2016 
                p.lead.mb-5
                    | 2016 k칬pte jag Diva f.-00 (Cardento - Lenski), och 칛ntligen hade jag tv친 fina Cardento-ston i avell! Divas f칬l Atmosphere SH blev det f칬rsta f칬let vi s친lde utomlands. Han 칛r numera godk칛nd avelshingst.

                h2 2017 
                p.lead.mb-5
                    | 2017 k칬pte jag avelsstona Wild Card (Cardento - Diaglyphard xx) och Amazing Lady (Lord Z - Levanto II) fr친n familjen Caster samt Main Hillary fr친n Grevlundag친rden/Lisen Bratt-Fredricson och Marina Bj칬rkman.

                h2 2018 
                p.lead.mb-5
                    | 2018 ink칬ptes systern till Hilly: Main Question (Cabachon - Irco Marco), fr친n Victoria Almgren, Kordelia M (Cortez - Ralm칠 Z) fr친n Malin Stiernstedt, och senare samma 친r k칬ptes avelsstoet DiaNova (Diarado - Cardento) fr친n Magdalena Reg친rdh.

                h2 2019 
                p.lead.mb-5
                    | 2019 s친ldes 4 avelsston, Part Two, Polly, Kordelia M samt West Somerset, och ett sto fick tyv칛rr tas bort pga sjukdom, Claire de Lune. Samma 친r k칬pte vi 3 embryon i Belgien med riktiga toppstammar.

                h2 2020 
                p.lead.mb-5
                    | 2020 k칬ptes avelsstona Nova Scotia d칇ve fr친n Stall Hemmet, och Bellezza MagiQ fr친n Erika Lickhammer van Helmond och Ankan Carlsson. Samma 친r s친ldes avelsstona Wild Card, Amazing Lady och Diva. 2020/2021 fick vi p친 Main Hillary flera frysta embryon via ICSI Chacco Blue, For Pleasure, Baloubet du Rouet samt Cornet Obolensky.

                h2 2021 
                p.lead.mb-5
                    | 2021 fick vi en en칛ggstvillingdr칛ktighet med Aganix du Seigneur vid ET p친 Keros i Belgien, intervention gjordes via universitetskliniken i Ghent, men det embryo som man f칬rs칬kte ta bort 칬verlevde, b친da gick tiden ut, och ena hingstf칬let 칬verlevde och 칛r fantastiskt vacker! I slutet av 2021 s친ldes en av v친ra uppf칬dningar till USA, Celebration SH.

                h2 2022 
                p.lead.mb-5
                    | 2022 k칬ptes Champagne SH tillbaka av oss, Hon 칛r sista avkomman fr친n stoet Lacombe. P친 grund av skada ska fina Champagne SH f친 ett fortsatt liv som avelssto. Inf칬r s칛songen 2022 tog vi hem 3 dr칛ktiga ICSI/ET ston fr친n Holland/Danmark och fick d칛rf칬r flera fina f칬l hemma p친 g친rden, en fantastisk f칬lsommar! F칬len var e. Chacco Blue, Baloubet du Rouet, Conthargos, Chacootino PS, Kentucky van't Ruytershof, Heartbeat och Tangelo v/d Zuuthoeve. P친 h칬sten togs ett mottagarsto dr칛ktigt med Cornet Obolensky hem fr친n Holland. Stoet Main Question SH s친ldes till Erika Johansson, Stall Siggeboda. Stoet DiaNova fick tyv칛rr g친 till de s칛lla jaktmarkerna strax efter ny친r mot 2023.

                h2 2023
                p.lead.mb-5
                    | 칀ter en lyckad f칬lsommar med sagolika f칬l e. Cornet Obolensky, Emerald, Hardrock och Heartbeat. Under senh칬sten s친ldes stona Champagne SH och Nova Scotia d'Ive f칬r att minska ner lite d친 jag valde att seminera flera unga ston (3-친ringar).

                h2 2024
                p.lead.mb-5
                    | 칀ret b칬rjade v칛ldigt sp칛nnande, med intensivt letande efter en fin h칛stg친rd. I b칬rjan av april skrev vi 칛ntligen kontrakt p친 en v칛ldigt passande h칛stg친rd i M칛lardalen, Uppland, ca 1,6 mil sydv칛st om Enk칬ping. V친r nya g친rd 칛r en dr칬m f칬r en uppf칬dare!<br><br>
                    | I april kom 3 hingstf칬l (ICSI) fr친n Main Hillary, och de 칛r enormt vackra. Sen f칬ddes 2 stof칬l fr친n b칛stisarna, toppstammade 4-친ringarna, maidenstona Cornet's Lily Rose SH Z och Burberry SH Z. Deras f칬l f칬ddes med 5 dagars mellanrum och 칛r b친da fuxar med vita tecken, och de 칛r r칛tt lika varandra dessutom游땎<br><br>
                    | I juli fick jag m칬jligheten att k칬pa ett stof칬l fr친n fantastiska Main-stolinjen, Main Diamond KSH fr친n Kivla Sporthorses, Anneli Tj칛rnberg. Stor lycka! Hon 칛r e. Diamant de Semilly - Kannan - Cardento - Irco Marco.<br><br>
                    | I juli 칬vertar vi dessutom v친r nya g친rd i Enk칬ping 游눕游끼游눕
                








