//- fol-som-vantas.pug
extends layout.pug

block head
    title Föl som väntas 2022 - Stall Stjärnholm 
    meta(name='description', content='En lista på de föl som väntas under året. Kontakta oss gärna vid intresse av något av fölen, så håller vi er uppdaterade direkt då de är födda.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Föl som väntas 2022
                p.lead.mb-3
                    |  I år väntar vi följande föl: 
                p.lead.mb-3
                    | ⚜️ e. Chacco Blue - Clinton I - Irco Marco#[br]⚜️ e. Baloubet du Rouet - Clinton I - Irco Marco#[br]⚜️ e. Conthargos - Clinton I - Irco Marco#[br]⚜️ e. Kentucky vant Ruytershof - Nabab de Reve - Mr Blue - Baloubet du Rouet#[br]⚜️ e. Tangelo v/d Zuuthoeve - For Pleasure - Maloubet de Pleville#[br]⚜️ e. Heartbeat - Cabachon - Irco Marco#[br]⚜️ e. Chacootino PS - Diarado - Cardento
                p.lead.mb-5
                    | Kontakta oss gärna vid intresse av något av fölen, så håller vi er uppdaterade direkt då de är födda. Se #[a(href="kontakt.html") Kontakt] för kontaktinformation.