//- fol-som-vantas.pug
extends layout.pug

block head
    title Föl som väntas 2022 - Stall Stjärnholm 
    //- meta(name='description', content='')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Föl som väntas 2022
                p.lead
                    | Info på denna sida kommer snart...