//- Modal from https://stackoverflow.com/questions/68794811/modal-dialog-not-showing-pug
//- To convert text to pug text, use this site and replace new line with #[br]
//- https://www.gillmeister-software.com/online-tools/text/remove-line-breaks.aspx
// Modal for GDPR
#GDPRModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='GDPR Modal' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#GDPRModal.modal-title Personuppgiftslagen och GDPR
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Stäng')
            .modal-body
                p.
                    #[b Information gällande Personuppgiftslagen och GDPR]#[br]#[br]Från och med 1 oktober 2001 började personuppgiftslagen (PuL) att gälla i Sverige. PuL har sin grund i ett EU-direktiv som syftar till att skydda privatpersoner mot att deras personliga integritet kränks när personuppgifter behandlas. En viktig del i integritetsskyddet är, att den som uppgiften gäller informeras om hur uppgifterna behandlas.#[br]#[br]Små Hopp vill därför informera dig om hur vi behandlar de personuppgifter du lämnar till oss, vilka rättigheter du har enligt personuppgiftslagen och för vilka ändamål behandlingen sker.#[br]#[br]Små Hopp kommer att behandla vårdnadshavares och barns personuppgifter såsom namn, adress, personnummer, telefonnummer, mm. för vår administration. Till vår administration räknas t.ex. placeringsmeddelanden, placeringslistor, samt tillfälliga aktivitetslistor.#[br]#[br]Om du vill ha information om vilka personuppgifter, om dig som behandlas av Små Hopp, kan du skriftligen begära detta hos Små Hopp, Mejselvägen 11, 961 38 Boden.#[br]#[br]Hit vänder du dig även om någon personuppgift är felaktig eller ofullständig.#[br]#[br]#[b Dina rättigheter över dina personuppgifter]#[br]Den 25 maj 2018 träder nya EU-regler om skydd vid behandling av personuppgifter i kraft. GDPR innehåller bland annat regler med grundläggande principer för behandling av personuppgifter och anger förutsättningar för att behandlingar av dessa ska vara lagliga. Den innehåller också regler om rättigheter till information och tillgång till personuppgifter, regler om rättelse av felaktiga personuppgifter samt möjligheter att i vissa fall begränsa behandling av personuppgifter.#[br]#[br]Villkor som gäller från 1 maj#[br]#[br]#[b Dina rättigheter som kund stärks]#[br]Ett viktigt led i det förbättrade skyddet för enskilda är att det ställs högre krav på personuppgiftsansvariga, det vill säga alla företag och organisationer som behandlar personuppgifter, när det gäller information till kunder. En övergripande beskrivning om hur vi behandlar dina personuppgifter kan du få hos oss.#[br]#[br]Dataskyddsförordningen, på engelska kallad General Data Protection Regulation (GDPR), gäller som lag inom EUs alla medlemsländer och syftar till att förbättra skyddet för den enskilda individen vid behandling av personuppgifter. Denna förordning och en kompletterande svensk lag, Dataskyddslagen, ersätter i Sverige personuppgiftslagen (PuL).#[br]#[br]#[b Information om behandling av personuppgifter]#[br]Små Hopp kommer att komplettera informationen om behandling av personuppgifter som finns i eller i anslutning till ansökningar, avtal och villkor för våra tjänster.#[br]#[br]Dina rättigheter enligt den nya dataskyddsförordningen#[br]#[br]#[b Registerutdrag]#[br]Du har på samma sätt som tidigare rätt att få information om vilka personuppgifter som vi behandlar om dig.#[br]#[br]En nyhet är att en begäran om sådan information inte bara kan göras skriftligen med vanligt brev utan även kan göras på annat sätt, exempelvis elektroniskt. En förutsättning för att du ska få registerutdrag är att vi kan identifiera dig på ett säkert sätt så att obehöriga inte ges möjlighet att ta del av dina uppgifter.#[br]#[br]#[b Dataportabilitet]#[br]Du har rätt att få ut en elektronisk kopia av dina personuppgifter som du själv har tillhandahållit oss och som vi behandlar elektroniskt.#[br]#[br]Du har rätt att överföra dessa uppgifter till en annan personuppgiftsansvarig, när det är tekniskt möjligt.#[br]#[br]#[b Rätt till rättning]#[br]Du har rätt att få felaktiga personuppgifter om dig själv rättade med stöd av dataskyddsförordningen. Du kan även få personuppgifter kompletterade om de är ofullständiga.#[br]#[br]#[b Rätten att bli raderad]#[br]Som kund har du rätten att under vissa förutsättningar få dina personuppgifter raderade när de inte längre är nödvändiga för det ändamål för vilka de samlats in.#[br]#[br]#[b Direktreklamspärr]#[br]Du kan även i fortsättningen anmäla om du inte vill få direkt marknadsföring från oss.#[br]#[br]Kontakta oss för att få mer information.#[br]#[br]Göran Stjärnholm, verksamhetsansvarig Små Hopp
            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Stäng

// Modal for Integrity
#IntegrityModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='Integrity Modal' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#IntegrityModal.modal-title Integritetspolicy
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Stäng')
            .modal-body
                p.
                    #[b Vilka vi är]#[br]Vår webbplatsadress är #[a(href="https://smahopp.se") https://smahopp.se].#[br]#[br]#[b Vilka personuppgifter vi samlar in och varför vi samlar in dem]#[br]#[br]#[b Kommentarer]#[br]När besökare lämnar kommentarer på webbplatsen samlar vi in de uppgifter som visas i kommentarsformuläret samt besökarens ip-adress och user agent-sträng som hjälp för detektering av skräpmeddelanden.#[br]#[br]En anonymiserad sträng som skapats utifrån din e-postadress (även kallat hash-värde) kan komma att sändas till tjänsten Gravatar för att avgöra om du finns registrerad där. Integritetspolicyn för tjänsten Gravatar finns på https://automattic.com/privacy/. När din kommentar har godkänts kommer din profilbild att visas publikt tillsammans med din kommentar.#[br]#[br]#[b Media]#[br]Om du laddar upp bilder till webbplatsen bör du undvika att ladda upp bilder där EXIF-data inkluderar data från GPS-lokalisering. Besökare till webbplatsen kan ladda ned och ta fram alla positioneringsuppgifter från bilder på webbplatsen.#[br]#[br]#[b Kontaktformulär]#[br]#[br]#[b Cookie-filer]#[br]Om du lämnar en kommentar på vår webbplats kan du välja att spara ditt namn, din e-postadress och webbplatsadress i cookie-filer. Detta är för din bekvämlighet för att du inte ska behöva fylla i dessa uppgifter igen nästa gång du skriver en kommentar. Dessa cookie-filer gäller i ett år.#[br]#[br]Om du besöker vår inloggningssida kommer vi att sätta en tillfällig cookie för att undersöka om din webbläsare accepterar dem. Denna cookie innehåller inga personuppgifter och den försvinner när du stänger din webbläsare.#[br]#[br]När du loggar in kommer vi dessutom att skapa flera cookie-filer för att spara information om din inloggning och dina val för utformning av skärmlayouten. Cookie-filer för inloggning gäller i två dagar och cookie-filer för layoutval gäller i ett år. Om du kryssar i ”Kom ihåg mig” kommer din cookie att finnas kvar i två veckor. Om du loggar ut från ditt konto kommer cookie-filerna för inloggning att tas bort.#[br]#[br]Om du redigerar eller publicerar en artikel kommer en extra cookie-fil att sparas i din webbläsare. Denna cookie-fil innehåller inga personuppgifter utan anger endast inläggs-ID för den artikel du just redigerade. Den gäller under 1 dygn.#[br]#[br]#[b Inbäddad innehåll från andra webbplatser]#[br]Artiklar på denna webbplats kan innehålla inbäddat innehåll (exempelvis videoklipp, bilder, artiklar o.s.v.). Inbäddat innehåll från andra webbplatser beter sig precis på samma sätt som om besökaren har besökt den andra webbplatsen.#[br]#[br]Dessa webbplatser kan samla in uppgifter om dig, använda cookie-filer, bädda in ytterligare spårning från tredje part och övervaka din interaktion med sagda inbäddade innehåll, inklusive spårning av din interaktion med detta inbäddade innehåll om du har ett konto och är inloggad på webbplatsen i fråga.#[br]#[br]#[b Analys]#[br]#[br]#[b Vilka vi delar dina data med]#[br]#[br]#[b Hur länge vi behåller era uppgifter]#[br]Om du skriver en kommentar kommer kommentaren och dess metadata att sparas utan tidsgräns. Anledningen till detta är att vi behöver kunna hitta och godkänna uppföljningskommentarer automatiskt och inte lägga dem i kö för granskning.#[br]#[br]För användare som registrerar sig på er webbplats (om sådana finns) sparar vi även de personuppgifter de anger i sin användarprofil. Alla användare kan se, redigera eller radera sina personuppgifter när som helst (med undantaget att de inte kan ändra sitt användarnamn). Även webbplatsens administratörer kan se och redigera denna information.#[br]#[br]#[b Vilka rättigheter du har över dina data]#[br]Om du har ett konto eller har skrivit några kommentarer på denna webbplats kan du begära en exportfil med de personuppgifter vi har om dig, inklusive alla uppgifter du har gett oss. Du kan också begära att vi tar bort alla personuppgifter vi har om dig. Detta omfattar inte eventuella uppgifter som vi är tvungna att spara av administrativa, legala eller säkerhetsändamål.#[br]#[br]#[b Vart vi skickar dina uppgifter]#[br]Kommentarer från besökare kanske kontrolleras via en automatiserad tjänst för detektering av skräppost.#[br]#[br]Göran Stjärnholm, verksamhetsansvarig Små Hopp
            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Stäng

// Modal for ContactUs
#ContactUsModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='ContactUs Modal' aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                h5#ContactUsModal.modal-title Kontakta oss
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Stäng')
            .modal-body
                p.font-weight-light.mb-0 
                    i.bi-telephone.m-auto.text-primary-mr-2
                    | 0921-361 830
                    br
                    i.bi-envelope.m-auto.text-primary-mr-2
                    a(href='mailto:info@smahopp.se') info@smahopp.se
                    br
                    i.bi-geo-alt.m-auto.text-primary-mr-2
                    | Mejselvägen 11, 961 38 Boden


            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Stäng

footer.footer.bg-light
    .container
        .row
            .col-lg-6.h-100.text-center.text-lg-start.my-auto
                ul.list-inline.mb-2
                    li.list-inline-item
                        a(data-target='#ContactUsModal' data-toggle='modal' href='#ContactUs' data-bs-toggle='modal' data-bs-target='#ContactUsModal') Kontakta oss
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(data-target='#IntegrityModal' data-toggle='modal' href='#Integrity' data-bs-toggle='modal' data-bs-target='#IntegrityModal') Integritetspolicy
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(data-target='#GDPRModal' data-toggle='modal' href='#GDPR' data-bs-toggle='modal' data-bs-target='#GDPRModal') GDPR
                    li.list-inline-item ⋅
                    li.list-inline-item
                        a(data-target='#DocumentsModal' data-toggle='modal' href='#Documents' data-bs-toggle='modal' data-bs-target='#DocumentsModal') Dokument


                - current_year = (new Date()).getFullYear();
                p.text-muted.small.mb-4.mb-lg-0 &copy; Små Hopp #{current_year}. Alla rättigheter förbehålles.#[br]Hemsidan underhålls av #[a(href="https://sigfrid.me") Sigfrid Stjärnholm].
            .col-lg-6.h-100.text-center.text-lg-end.my-auto
                ul.list-inline.mb-0
                    li.list-inline-item.me-4
                        a(href='https://www.facebook.com/Små-Hopp-i-Boden-311914612164095' target="_blank")
                            i.bi-facebook.fs-3
                    li.list-inline-item.me-4
                        a(href='https://www.instagram.com/smahopp' target="_blank")
                            i.bi-instagram.fs-3
                    li.list-inline-item
                        a(href='mailto:info@smahopp.se')
                            i.bi-envelope.fs-3
