//- hastar-till-salu.pug
extends layout.pug

block head
    title Hästar till salu - Stall Stjärnholm 
    meta(name='description', content='Hästar till salu hos Stjärnholm Equestrian.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Hästar till salu

                h2 Burberry SH Z
                p.lead.text-primary.text-ef.mb-2 e. Baloubet du Rouet - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Burberry SH Z kommer från Usha vant Roosakker-stolinjen, en av världens absolut bästa stolinjer, som gett så många goda tävlingshästar. Hennes mormor såldes som 14-åring efter sin tävlingskarriär för ett par år sen, som avelssto, för rekordsumman någonsin för ett avelssto, närmare 6 miljoner kr.
                p.lead.mb-3
                    | Hennes helsyskon och halvsyskon har flertalet sålts som både embryon och föl på auktioner senaste åren, för kring 400 000-520 000 kr.
                p.lead.mb-3
                    | 🌸 Burberry SH Z fick föl 2024: Chacco's Baloutina SH e. CHACOON BLUE PS, såld till Hanna Viklund, Boda Gård.
                p.lead.mb-3
                    | Vi äger även hennes jämnåriga halvsyster, Chacco Chanel SH Z (e. Chacco Blue) som hoppade 9-9 på sitt 3-årstest 2023 och belönades med Diplom. Systern är i avel och väntar 2026 föl e. Ermitage Kalone. 
                p.lead.mb-5 
                    | Burberry SH Z har tävlats av Joel Andersson under ett halvår upp till 1,10m och är nu sen januari 2026 i träning hos Celina Estrada, Strömsholm.

                h2 Elegant Jump LN Z
                p.lead.text-primary.text-ef.mb-2 e. Emerald van't Ruytershof - Balou du Rouet - For Pleasure, f. 2023
                p.lead.mb-5
                    | Elli kommer från det välkända och mycket eftertraktade Walnut de Muze-mödernet som gett så många internationella sporthästar. Hon tävlade i oktober 2025 på Eklunda Open och kom 2:a! Nu är hon under utbildning inför 3-årstest på Strömsholm. Elli är ett oerhört bildskönt sto med helt fantastisk hoppteknik. Hon är inriden och rids ut med andra hästar och även själv, och utbildas av Celina Estrada i Strömsholm.

                h2 Ciani LN Z
                p.lead.text-primary.text-ef.mb-2 e. Chacco Blue – Cardento – Diamant de Semilly, f. 2023
                p.lead.mb-5
                    | Cia kommer från ett mycket gott möderne: hennes mamma har gått 1,50 hoppning, 2 syskon går svår hoppning. Cia är kusin till Steely Dan som tävlas av Henrik von Eckerman (bl a i Falsterbo 2025), deras mammor är dessutom helsystrar! Hon tävlade i oktober 2025 på Eklunda Open med jättefina poäng. Nu är hon under utbildning inför 3-årstest på Strömsholm. Cia är ett högbent och elegant skimmelsto. Hon är inriden i alla gångarter, och utbildas av Celina Estrada i Strömsholm.  
