//- hastar-till-salu.pug
extends layout.pug

block head
    title Hästar till salu - Stall Stjärnholm 
    meta(name='description', content='Hästar till salu hos Stjärnholm Equestrian.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Hästar till salu

                h2 Elegant Jump LN Z
                p.lead.text-primary.text-ef.mb-2 e. Emerald van't Ruytershof - Balou du Rouet - For Pleasure, f. 2023
                p.lead.mb-5
                    | Elli kommer från det välkända och mycket eftertraktade Walnut de Muze-mödernet som gett så många internationella sporthästar. Hon tävlade i oktober 2025 på Eklunda Open och kom 2:a! Genomförde ett fantastiskt 3-årstest på Strömsholm i maj 2026 med Celina Estrada: fick näst högsta hoppoängen samt näst högsta totala hoppoängen på hela den helgen på Strömsholm. Hoppoäng 9-9, och totalt 50 p som hopptalang och DIPLOM. Fick även utmärkelsen Fälttävlanstalang, och förstås ett godkänt ridprov. Det här är en häst utöver det vanliga! Elli är ett oerhört bildskönt sto med helt fantastisk hoppteknik. Hon är inriden och rids ut med andra hästar och även själv, och utbildas av Celina Estrada.

                .row.g-0.mb-5
                    .col-md-6.px-2.mb-4.mb-md-0
                        img.w-100.shadow-1-strong.rounded(src='assets/img/hastar_till_salu/IMG_2920.JPG', alt='Elegant Jump LN Z')
                    .col-md-6.px-2
                        img.w-100.shadow-1-strong.rounded(src='assets/img/hastar_till_salu/IMG_2922.jpg', alt='Elegant Jump LN Z')

                h2 Chacco´s Ermionie SH, f. mars 2026
                p.lead.text-primary.text-ef.mb-2 e. Ermitage Kalone - Chacco Blue - Cornet Obolensky - Diamant de Semilly
                p.lead.mb-5
                    | Fux med bläs och 4 vita ben. Toppstammat sto rakt igenom med mycket starkt möderne!
                    | #[br]Se info om mödernet på sidan ”Våra avelsston”, mamma: Chacco Chanel SH Z.

                h2 Chaccosphere SH
                p.lead.text-primary.text-ef.mb-2 e. Chou Blue - For Pleasure - Maloubet de Pleville, f. april 2026
                p.lead.mb-5
                    | Blivande skimmel. En sportig, atletisk kille, med fantastisk balans!
                    | #[br]Se info om mödernet på sidan ”Våra avelsston”, mamma: Bellezza MagiQ.
