//- index.pug
extends layout.pug

block scripts

block content

    // Masthead
    header.masthead
        .container.position-relative
            .row.justify-content-center
                .col-xl-6
                    .text-center.text-white
                        // Page heading
                        h3.mb-5.smab-link Små&nbsp;Hopp&nbsp;i&nbsp;Boden driver barnomsorg. Våra dagbarnvårdare är mycket erfarna och omtyckta. Vår verksamhet är i Sävast och vi ser fram emot att hjälpa er med barnomsorgen. Små&nbsp;Hopp&nbsp;i&nbsp;Boden drivs av #[a(href="https://stjarnholmmedical.se") Stjärnholm Medical AB].

    