//- kontakt.pug
extends layout.pug

block head
    title Kontakt - Stall Stjärnholm 
    meta(name='description', content='DESCRIPTION')

block content
    include masthead-small
                               

    // People
    section.testimonials.text-center.text-white
        div(class="to-fade-in").container
            h2.mb-2 Kontakta oss
            p.font-weight-light.mb-3.pb-3 
                b Stjärnholm Equestrian AB
                br
                i.bi-telephone.m-auto.text-primary-mr-2
                | +46 70 322 66 73
                br
                i.bi-envelope.m-auto.text-primary-mr-2
                a(href='mailto:info@stalls.se') info@stalls.se
                br
                i.bi-geo-alt.m-auto.text-primary-mr-2
                | Mejselvägen 11, 961 38 Boden
            .row.mt-3.pt-3           
                .col-lg-12
                    .testimonial-item.mx-auto.mb-5.mb-lg-0
                        img.img-fluid.rounded-circle.mb-3(src='assets/img/helena_med_hastar_square.jpg', alt='Helena Stjärnholm')
                        h5 Helena Stjärnholm
                        p.font-weight-light.mb-0
                            i.bi-telephone.m-auto.text-primary-mr-2
                            | +46 70 322 66 73
                            br
                            i.bi-envelope.m-auto.text-primary-mr-2
                            a(href='mailto:helena@stalls.se') helena@stalls.se