doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Små Hopp är ert alternativ för barnomsorg i Boden. Våra dagbarnvårdare är mycket erfarna och omtyckta. Vår verksamhet är i Sävast och vi ser fram emot att hjälpa er med barnomsorgen. Små Hopp i Boden drivs av Stjärnholm Medical AB.')
        meta(name='author', content='')

        title Små Hopp - Dagbarnvård i hemmet

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // FontAwesome JS
        script(src="https://kit.fontawesome.com/d859ded2d4.js" crossorigin="anonymous")

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/scripts.js")


    body
        include navbar