// Masthead small
header.masthead-small
    .container.position-relative
        .row.justify-content-center
            .col-xl-6
                .text-center.text-white
                    h1.pt-4
                        div Stall Stjärnholm
                    h4
                        div
                            ul.list-inline
                                li.list-inline-item Hopphästuppfödning
                                li.list-inline-item ⋅
                                li.list-inline-item Boxplatser