nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    .container-fluid
        a(class="navbar-brand" style="font-size: 25px !important;" height="25px" href="/") 
            img.mr-2(class="d-inline-block align-middle" src="assets/img/stalls_icon.png")
            | Stall Stj채rnholm
        button.ml-auto(class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" 
                        aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
            //- .mr-auto.div(class="navbar-nav")
            a(class="nav-link" href="/") Hem
            a(class="nav-link" href="#") Features
            a(class="nav-link" href="kontakt.html") Kontakt


//- // Navigation
//- nav.navbar.navbar-light.bg-light.static-top
//-     .container
//-         //- a.navbar-brand(href='') Sm책 Hopp - Dagbarnv책rd i hemmet
//-         a.navbar-brand(href='') 
//-             img(src="assets/img/homepage/smahopp_logo.png" alt="Sm책 Hopp" height="50" )
//-         //- a.btn.btn-primary(href='#signup') Kontakta oss 
//-         a.btn.btn-primary(data-target='#ContactUsModal' data-toggle='modal' href='#ContactUs' data-bs-toggle='modal' data-bs-target='#ContactUsModal') Kontakta oss
