//- salda-fol.pug
extends layout.pug

block head
    title Sålda föl - Stall Stjärnholm 
    meta(name='description', content='Här är en lista på föl som har avlats och sålts av Stjärnholm Equestrian AB.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Sålda föl
                p.lead.mb-5
                    | Vi önskar våra köpare stor glädje av våra fina föl och ser fram emot att följa dem!

                -
                    salda_fol_list = [
                                        ["Sommaren 2013", ["🌸 Confidence SH (sto) e. Cabachon - Cardento - Irco Marco. Sto: West Somerset (F.1) Köpare: Sara Nilsson, Fjälkinge."]],
                                        ["Sommaren 2014", ["🌸 Infinity SH (sto) e. Heartbeat - Irco Mena. Sto: Polly (55) Köpare: Agnetha Lindelöw."]],
                                        ["Sommaren 2015", ["🌸 Champagne SH (sto) e. Corporal VDL - Landlord - Irco Mena. Sto: Lacombe. Köpare: Ann- Helen Francki.", "🌸 Platinum SH (hingst) e. Comfortuna VDL- Irco Mena - Magritte. Sto: Polly (55). Köpare: Sanna Högdahl.", "🌸 Chocolat SH (F.1) (sto)  e. Armani Code - Cardento - Irco Marco. Sto: West Somerset (F.1) Köpare: Caroline Österqvist.", "🌸 Quidam's Elegance SH (sto) e. Uncanto di Villagana - Quidam de Revel - Quito de Baussy. Köpare: Veronica Sjöholm."]],
                                        ["Sommaren 2016", ["🌸 Celebration SH (hingst) e. Comfortuna VDL - Cortus - Ralmé Z Sto: Part Two (36). Köpare: Ulfsborgs Gård. Exporterad till USA 2021.", "🌸 Wonderful Heart SH (sto)  e. Heartbeat - Cardento - Irco Marco. Sto: West Somerset (F.1) Köpare: Lotta Indebetou.", "🌸 Atmosphere SH  (hingst) e. Irco Mena - Cardento - Lenski, Sto: Diva (55). Köpare: Blue Spruce Farm. Godkänd avelshingst.", "🌸 Brilliance SH (sto) e. Bravour - Irco Mena - Magritte. Sto: Polly (55). Köpare: Agnetha Lindelöw."]],
                                        ["Sommaren 2017", ["🌸 Diamond Card SH (hingst) e. Diarado - Cardento - Irco Marco. Köpare: Ulrika och Robert Schön, Flyinge", "🌸 Wellington SH (hingst) e. Orlando - Cardento - Diaglyphard xx  SÅLD på Elitfölauktionen på Flyinge till MW Collection, Marcus Westergren", "🌸 Irco's Diamond SH (hingst) e. Comfortuna VDL - Irco Mena - Magritte. Köpare: Jonna Olofsson, Luleå", "🌸 Kannan's Diamond SH (hingst) Kannan - Cardento - Lenski. Köpare: Jennie Torstensson, Dräggesta Gård"]],
                                        ["Sommaren 2018", ["🌸 Diamond League SH Z (hingst) e. Dominator Z 2000 (Diamant de Semilly) - Lord Z - Levantos II - Damiro (5). Köpare: B o T Bredenlöw", "🌸 Design Icon SH Z (hingst) e. Dominator Z 2000 (Diamant de Semilly) - VDL Cardento. Köpare: B o T Bredenlöw", "🌸 Chantilly SH (sto) e. Copycat (Comme il Faut) - Irco Mena - VDL Cardento. Köpare: Helena och Ebba Collin", "🌸 Crystal Perfection SH (hingst) e. Cristallo I (Cornet Obolensky) - Cortus - Ralmé Z (36). Köpare: Jennie Torstensson, Dräggesta Gård", "🌸 Cream on Top SH (sto) e. Crusader Ice (Cabachon) - Irco Mena - Magritte. Köpare: Lotta Dahlborg", "🌸 Galaxy SH (hingst) e. Glasgow VDL - Cortez - Ralmé Z. Såld på SWB's första onlineauktion till Martin Linell", "🌸 Crown Princess SH (F.1) (sto) e. Orlando - Cardento - Irco Marco. Köpare: Familjen Nyström"]],
                                        ["Sommaren 2019", ["🌸 Eminence SH (hingst) e. Emerald - Cardento - Lenski Köpare: Martin Linell", "🌸 Thalia SH (sto) e. Taloubet Z - Cardento - Diaglyphard xx Köpare: Martin Linell", "🌸 Aviatrice SH (sto) e. Arezzo VDL - Lord Z - Levantos II (maj/juni) Köpare: Martin Linell", "🌸 Olympia SH (sto) e. London - Diarado - Cardento (juni), Köpare: Erika Johansson (fd Jakobsson)"]],
                                        ["Sommaren 2020", ["🌸 Supernova SH (sto) e. Big Star - Diarado - Cardento, såld till Linda Sandell", "🌸 Dior SH (sto) e. Tangelo van de Zuuthoeve - Cardento, såld till Peter Höök", "🌸 Fashionista SH (sto) e. Tobago Z - Lord Z, såld till Mika Thalén", "🌸 Balenciaga SH (sto) e. Balou du Rouet - Cardento, såld till Ann-Sofie Nilsson", "🌸 Main Connoiseur SH (hingst) e. Kannatol - Cabachon - Irco Marco, såld till TVA Horses AB", "⋅", "3 spännande stoföl föddes i Belgien 2020 och de växer nu upp i Halland i stora, ljuvliga hagar💞💞💞 Ej till salu ännu.", "Två halvsyskon med det mycket fina Roosakker-mödernet 😍 och så ett barnbarn till självaste Butterfly Flip 🌟", "🌸 Burberry SH Z e. Baloubet du Rouet - Cornet Obolensky - Diamant de Semilly - Darco - Chin Chin", "🌸 Chacco Chanel SH Z e. Chacco Blue - Cornet Obolensky - Diamant de Semilly - Darco - Chin Chin", "🌸 Cornets Lily Rose SH Z e. Cornet Obolensky - Norton d'Eole (hingst e. Cento u. Fragance de Chalus) - Robin Z"]],
                                        ["Sommaren 2021", ["🌸 Main Chacco SH (hingst) e. Chacco Blue - Clinton I, såld till Kivla Sporthorses AB", "🌸 Main Chica SH (sto) e. Chacco Blue - Clinton I, såld till Shane Sweetnam", "🌸 Aganix du Main SH Z (hingst) e. Aganix du Seigneur - Clinton I, såld till Alma Ranebo Sporthorses AB", "🌸 Chacco's Treasure SH (hingst) e. Chacoon Blue - For Pleasure, såld till Mats B Hansson Förvaltning AB"]],
                                        ["Sommaren 2022", ["🌸 Main Balouelle SH (sto) e. Baloubet du Rouet - Clinton I, såld till Kivla Sporthorses AB", "🌸 Gold Rose SH (sto) e. Kentucky van't Ruytershof - Nabab de Reve - Mr Blue - Baloubet du Rouet - Chin Chin , såld till Ann-louise Karlsson", "🌸 Chacconova SH (sto) e. Chacootino PS - Diarado - Cardento, såld till Ann-louise Karlsson", "🌸 Main Compassion SH (hingst) e. Conthargos - Clinton I, såld till Rebecca Taxén", "🌸 Main Avenue SH (hingst) e. Heartbeat - Clinton I, såld till Rebecca Taxén", "🌸 Top Notch SH (hingst) e. Tangelo van de Zuuthoeve - For Pleasure, såld till Torbjörn Bredenlöw"]],
                                        ["Sommaren 2023", ["🌸 Main Cardashian SH (sto) e. Cornet Obolensky - Clinton I, såld till Ann-louise Karlsson", "🌸 Heliosphere SH (hingst) e. Hardrock Z - For Pleasure, såld till Torbjörn Bredenlöw", "🌸 Gold Edition SH (hingst) e. Emerald van't Ruytershof - Nabab de Reve, såld till Bengtssons Jumpcenter, Peter Bengtsson", "🌸 Lily Bollinger SH (sto) e. Heartbeat - Corporal VDL, såld till Ulrika Jönsson Belyazid"]],
                                        ["Våren/sommaren 2024", ["🌸 Chacco Chanel SH f.-22(sto) e. Chacco Blue - Clinton I, såld till Erika Johansson, Siggeboda Gård", "🌸 Fabergé SH (hingst) e. For Pleasure - Clinton I, såld till Torbjörn Bredenlöw", "🌸 Chacco's Icon SH (hingst) e. Chacco Blue - Clinton I, såld till Ann-louise Karlsson", "🌸 Balmain SH (hingst) e. Baloubet du Rouet - Clinton I, såld till Ann-louise Karlsson"]]                                        ,["Sommaren 2025", ["🌸 Chacco’s Sapphire SH (sto) e. Plot Pearl Zäta JL - Chacco Blue, såld till Katrine Lundbäck", "🌸 Ermitage Gold SH (hingst) e. Ermitage Kalone - Non Stop, såld till Diane och Peter T. Halpin"]]
                                    ]
                each year_salda_fol insalda_fol_list
                    h2= year_salda_fol[0]
                    //- p.lead.mb-5
                    ul(style='list-style: none; padding-left: 0;').mb-5
                        p.lead
                            each salda_fol in year_salda_fol[1]
                                li= salda_fol

        // Gallery
        section.showcase.text-white
            .container-fluid.px-2
                .row.g-0
                    .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                        each val in [1, 4]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/salda-fol/" + val.toString() + ".jpg")
                    .col-lg-4.mb-4.mb-lg-0.px-2
                        each val in [2, 5]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/salda-fol/" + val.toString() + ".jpg")
                    .col-lg-4.mb-4.mb-lg-0.px-2
                        each val in [3, 6]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/salda-fol/" + val.toString() + ".jpg")


        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Vårt första föl
                p.lead.mb-2
                    | Confidence SH (F.1), född 2 april 2013, var vårt allra första föl
                p.lead.text-primary.text-ef.mb-2 Cabachon - Cardento - Irco Marco. u. West Somerset (F.1)
                p.lead.mb-5
                    | Såldes till Sara Nilsson i Skåne. Confidence SH ägs sen 2020 av familjen Lexander

                .row.mb-5
                    .col-md-3
                        .thumbnail
                            img.w-75.shadow-1-strong.rounded.mb-4(src='assets/img/salda-fol/vart-forsta-fol/mor.jpg')
                            .caption
                                p Mor: WEST SOMERSET (F.1)#[br]Cardento - Irco Marco
                    .col-md-3
                        .thumbnail
                            img.w-75.shadow-1-strong.rounded.mb-4(src='assets/img/salda-fol/vart-forsta-fol/far.jpg')
                            .caption
                                p Far: CABACHON#[br]Casall - Concerto II (Contender)
                    .col-md-3
                        .thumbnail
                            img.w-75.shadow-1-strong.rounded.mb-4(src='assets/img/salda-fol/vart-forsta-fol/3manader.jpg')
                            .caption
                                p CONFIDENCE SH (F.1)#[br]3 månader gammal
                    .col-md-3
                        .thumbnail
                            img.w-75.shadow-1-strong.rounded.mb-4(src='assets/img/salda-fol/vart-forsta-fol/conf_sh2.jpg')
                            .caption
                                p CONFIDENCE SH (F.1)#[br]Cabachon - Cardento - Irco Marco
                    




                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/salda-fol/vart-forsta-fol/conf_sh.jpg")
                