//- sommarminnen.pug
extends layout.pug

block head
    title Sommarminnen - Stall Stjärnholm 
    meta(name='description', content='DESCRIPTION')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Sommarminnnen
                p.lead
                    | Bildserie av Anders Blomqvist, sommaren 2014

        // Gallery
        section.showcase.text-white
            .container-fluid.px-2
                .row.g-0
                    .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                        each val in [1, 4, 7, 10]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/sommarminnen/" + val.toString() + ".jpg")
                    .col-lg-4.mb-4.mb-lg-0.px-2
                        each val in [2, 5, 8, 11]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/sommarminnen/" + val.toString() + ".jpg")
                    .col-lg-4.mb-4.mb-lg-0.px-2
                        each val in [3, 6, 9, 12]
                            img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/sommarminnen/" + val.toString() + ".jpg")
