//- template.pug
extends layout.pug

block head
    title TEMPLATE - Stall Stjärnholm 
    meta(name='description', content='DESCRIPTION')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 TITLE