//- stallbilder.pug
extends layout.pug

block head
    title Stallbilder - Stall Stjärnholm 
    meta(name='description', content='Bilder från stallet')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Stallbilder
                p.lead
                    | 💓 Bilder på vår nya gård kommer inom kort. Bildens nedan visar hästgården vi ägde mellan december 2012 till juni 2024 💓

        

        // Image Showcases
        section.showcase.text-white
            .container-fluid.p-0
                -
                    var image_list = [["Longervolt", null, "longervolt.jpg"],
                            ["Boxar", null, "boxar.jpg"],
                            ["Framsida av stallet", null, "framsida.jpg"],
                            ["Uppbindningsplats", "Spolspilta finns också", "uppbindningsplats.jpg"],
                            ["Täckeshängare i torkrum", null, "torkrum.jpg"],
                            ["Entrén till två vinterhagar", "4 av 5 hagar har gemensamt insläppsområde direkt på kortsidan av stallet", "vinterhagar.jpg"],
                            ["Sommarhagar", null, "sommarhagar2.jpg"],
                            ["Höhus", null, "hohus.jpg"],
                            ["Stallet vintertid", null, "stallet_vinter.jpg"],
                            ]
                each image, index in image_list
                    // Check if index is odd or even, to alternate between the two sides
                    if index % 2
                        .row.g-0
                            .col-lg-6.order-lg-2.text-white.shadow-1-strong.rounded.showcase-img(style="background-image: url('assets/img/stallbilder/" + image[2] + "');")
                            .col-lg-6.order-lg-1.my-auto.showcase-text
                                h3= image[0]
                                if image[1] != null
                                    p.lead.mb-0= image[1]
                    else
                        .row.g-0
                            .col-lg-6.text-white.shadow-1-strong.rounded.showcase-img(style="background-image: url('assets/img/stallbilder/" + image[2] + "');")
                            .col-lg-6.my-auto.showcase-text
                                h3= image[0]
                                if image[1] != null
                                    p.lead.mb-0= image[1]