//- tidigare-avelsston.pug
extends layout.pug

block head
    title Tidigare avelsston - Stall Stjärnholm 
    meta(name='description', content='Tidigare avelsston som Stjärnholm Equestrian har ägt.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Tidigare avelsston

                h2 Main Question (1)
                p.lead.text-primary.text-ef.mb-2 e. Cabachon - Irco Marco, f. 2011. Såld 2022 till Erika Johansson, Siggeboda Gård.
                p.lead.mb-3
                    | Main Question har hoppdiplom, och hon såldes som 3-åring på SSHS (Swedish Select Horse Sales). Hon har gått 4-års final, 5-års i Falsterbo samt Breeders och har felfria rundor i 130m. MQ kommer från en av Sveriges allra finaste stolinjer. Syster till bl a Cadence (Jennifer Gates) och Main Road (Shane Sweetnam).
                p.lead.mb-3
                    | Från Caroline Hayenhielms sida:#[br]"Systern Camina är ett Elitsto som lämnat tio avkommor, varav två godkända söner. Main Defender (SWANA) med placeringar i 145 hoppning och Main Cornet 1395 som startat 125 hoppning. Camina har också lämnat Main Balouba (e. Baloubet du Rouet) fick diplom på sitt 3-årstest med hoppbetyget 10-9,5 samt Main Balouca (e. Baloubet du Rouet) som såldes på SWBs Elitfölauktion 2017 till irländska toppryttaren Shane Sweetnam.
                p.lead.mb-3
                    | Mamman Main Mirco har tävlat i 140 hoppning. Main Mirco har lämnat tolv avkommor där Cadence (e. Cardento) och Main Road (e. Heartbeat) är de mest meriterade. Cadence var placerad i Breeders Trophy som 4, 5- och 6-åring och var i final i Falsterbo som sjuåring. Han fortsatte sedan sin karriär med framgångar i World Cup, Nations Cup och internationell Grand Prix. Main Road såldes som sjuåring till Shane Sweetnam och har segrar och placeringar i internationell 160 hoppning. Main Mirco har även lämnat Marion Zeta (e. Robin Z) som tävlat internationell 145 hoppning samt Marcenzo i 140 hoppning. Fem av Main Mircos avkommor har tilldelats diplom vid unghästbedömningar. Main Question (e. Cabachon) och Qummin (e. Quite Easy) är båda sålda på Swedish Select Hors Sales hopphästauktion. Main Hillary (e. Clinton I) och Main Question har placeringar i 130 hoppning. Main Mircos moder Main Point (e. Crown Point xx) har lämnat totalt sju avkommor, varav tre är placerade i 150 hoppning och tre i 140 hoppning."
                p.lead.mb-5 
                    | 🌸 2020 Main Connoiseur SH e. KANNATOL. Såld till Tva Horses AB.#[br]🌸 2022 Main Avenue SH e. HEARTBEAT. Såld till Rebecca Taxén.


                h2 Main Hillary (1)
                p.lead.text-primary.text-ef.mb-2 e. Clinton I - Irco Marco, f. 2009. Såld 2021 till LN Equestrian AB.
                p.lead.mb-3
                    | Main Hillary har gått 130 hoppning som 6-åring med Stephanie Holmén. Pga skada gick hon därefter in i avelsboxen. Hon är syster till Cadence (Jennifer Gates) och Main Road (Shane Sweetnam).
                p.lead.mb-5 
                    | 🌸 2017 Bollerup Cristal Hill e. CRISTALLO I, uppf: Bollerup i samarbete med Lisen Bratt-Fredricson. Såld 2022 till USA.
                    | #[br]🌸 2021 Main Chacco SH e. CHACCO BLUE, såld till Kivla Sporthorses AB
                    | #[br]🌸 2021 Main Chica SH e. CHACCO BLUE, såld till Shane Sweetnam
                    | #[br]🌸 2021 Aganix du Main SH Z e.AGANIX DU SEIGNEUR (ET), såld till Alma Ranebo
                    | #[br]🌸 2022 Main Balouelle SH e. BALOUBET DU ROUET, såld till Kivla Sporthorses AB
                    | #[br]🌸 2022 Main Compassion SH e. CONTHARGOS, såld till Rebecca Taxén
                    | #[br]🌸 2022 Main Chaccotina SH e. CHACCO BLUE, ej till salu
                    | #[br]🌸 2023 Main Cardashian SH e. CORNET OBOLENSKY, såld till Ann-louise Karlsson
                    | #[br]🌸 2024, 3 hingstföl: e. FOR PLEASURE, BALOUBET DU ROUET och CHACCO BLUE. Fabergé SH, såld till Torbjörn Bredenlöw. Balmain SH samt CHACCO's ICON båda sålda till Three Crown Stables (Holland) och Ann-louise Karlsson.



                h2 Amazing Lady SN
                p.lead.text-primary.text-ef.mb-2 e. Lord Z - Levantos II. f. 2008, uppf: Stora Nääs stuteri. Såld till Malin Nilsson.
                p.lead.mb-3
                    | Modern Aska:#[br]Dipl som hopp- och dressyrhäst vid 3-årstest: bästa hopphäst (50p) och trea som dressyrhäst (48p) av 45 hästar. Aska är sjätte generationen diplomston.     
                p.lead.mb-3
                    | Brodern Aragorn SN (Frankrike), vinster och plac i 150-hoppning samt vinst i Puissance på höjden 2.15 meter. Systern Anastasia SN, finalister i Breeders 6-års på Flyinge.   
                p.lead.mb-3
                    | Mormor Amanda:#[br]Dipl 988878, 49 p, prem AB. 1:a vid treårspremieringen, bästa hopphäst i Blekinge Talangjakten 1997, plac i finalen i 7-årschampionatet i Falsterbo, plac i Breedersfinalen i Flyinge för 7-åringar, uttagen till Unghäst-VM i Zangersheide, Belgien och har nu flertal placeringar 145-hoppning. Amanda har lämnat avkommorna: Alicia SN f-04 e. Feliciano (Carsten Otto Nagel i Tyskland), flera plac i svår hoppning. Argentina SN f-05 e. Argentinus, flera plac int 140 hoppning.
                p.lead.mb-3
                    | Mormodern Aurora (ELIT):#[br]Avelsdiplom, prestationsdiplom i både hoppning och dressyr.
                p.lead.mb-5
                    | 🌸 2012 Bolensky SN, uppf: Stora Nääs Stuteri.#[br]🌸 2014 Athena SN, uppf: Stora Nääs Stuteri.#[br]🌸 2016 Amazing Man OC, uppf: Oskar Caster.#[br]🌸 2018 Diamond League SH Z e. DOMINATOR Z, Såld till BoT Bredenlöw#[br]🌸 2019 Aviatrice SH e. AREZZO VDL, såld till Martin Linell.#[br]🌸 2020 Fashionista SH e. TOBAGO Z, såld till Mika Thalén.#[br]🌸 2021 Hingstföl e. HEARTBEAT.



                h2 Wild Card
                p.lead.text-primary.text-ef.mb-2 e. Cardento - Diaglyphard xx, f. 2004. Såld till Carina Legander.
                p.lead.mb-3
                    | Wild Card fick 9-10 i hoppning vid 3-årstest samt pris för bästa hopphäst.
                p.lead.mb-5 
                    | 🌸 2011 Vaya Con Dios BS, uppf: Björkhaga Stuteri#[br]🌸 2012 Snapshot, uppf: Marianne Hansson. †#[br]🌸 2015 Living for Love BS, uppf: Björkhaga Stuteri, såld på Elitfölauktion.#[br]🌸 2017 Wellington SH e. ORLANDO, såld på Elitfölauktion till MW Collection.#[br]🌸 2018 Design Icon SH Z e. DOMINATOR Z, såld till BoT Bredenlöw.#[br]🌸 2019 Thalia SH e. TALOUBET Z. Såld till Martin Linell.#[br]🌸 2020 Balenciaga SH e. BALOU DU ROUET. Såld till Ann-Sofie Nilsson.#[br]🌸 2021 Stoföl e. TANGELO v/d ZUUTHOEVE.



                h2 Diva (55) 
                p.lead.text-primary.text-ef.mb-2 (Cardento - Lenski), f. 2000. Såld till Emma Liljenberg.
                p.lead.mb-3
                    | Diva har själva tävlat 1,30 hoppning och Divas mormor Diana 1,50 hoppning med Ragnar Bengtsson. Divas mor Dynamite Msv fälttävlan. Divas syster Nirvana Msv fälttävlan.
                p.lead.mb-5 
                    | 🌸 Clandestino e. HIGHLIGHT, Uppf: Anna-Christina Larsson.#[br]🌸 2012 Maida Vale YT e. NEW BALANCE. Uppf: Anna-Christina Larsson.#[br]🌸 2014 Charlotte Street YT e. HIP HOP. Uppf: Anna-Christina Larsson.#[br]🌸 2016 Atmosphere SH e. IRCO MENA, såld till Blue Spruce Farm.#[br]🌸 2017 Kannan's Diamond SH e. KANNAN. Såld till Dräggesta Gård, Västerås, Joel Torstenson.#[br]🌸 2019 Eminence SH e. EMERALD van't Reytershof, såld till Martin Linell#[br]🌸 2020 Dior SH e. TANGELO v/d ZUUTHOEVE, såld till Peter Höök

                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/diva.jpg")



                h2 Polly (55) 
                p.lead.text-primary.text-ef.mb-2 (Irco Mena - Magritte), f. 2007. Såld 2019 till Pauline Gidén, Stockholm.
                p.lead.mb-3
                    | Irco Mena-stoet Polly har två helbröder som tävlat Msv hoppning. Polly själv skadades i trafiken som 5-åring.
                p.lead.mb-5 
                    | 🌸 2014 Infinity SH e. HEARTBEAT, såld till familjen Lindelöw, Stall Fulltofta.#[br]🌸 2015 Platinum SH e. CLICK AND CASH, såld till Sanna Högdahl.#[br]🌸 2016 Brilliance SH e. BRAVOUR, såld till familjen Lindelöw, Stall Fulltofta.#[br]🌸 2017 Irco's Diamond SH e. COMFORTUNA VDL, såld till Jonna Olofsson.#[br]🌸 2018 Cream on Top SH e. CRUSADER ICE, såld till Lotta Dahlborg.#[br]🌸 2019 Cristal Mena SH e. CABACHON, uppf: Pauline Gidén

                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/polly.jpg")




                h2 Part Two (36)
                p.lead.text-primary.text-ef.mb-2 (Cortus- Ralmé Z), f. 2000. Såld 2019 till Ger O'Sullivan (DOS Sporthorses) på Irland, samt Mattias Gårdlund, Löberöd
                p.lead.mb-3
                    | Part Two har själv tävlat hoppning upp till internationell 1,40. Hon förmedlades sen till Irland av Royne Zetterman och tävlade där en tid innan hon återvände till Sverige och köptes av Rebecca Hallberg-Fischer. "Party" fick ett vackert hingsföl 2015 som såldes till tidigare landslagsryttaren Maria af Jochnick (fd Sundberg) på Tärnö Säteri. Part Two's föl Celebration SH f-2016 exporterades till USA i slutet av 2021.
                p.lead.mb-3
                    | Hennes mor är det kända elitstoet Ralméa. Part Two's lillasyster Nice Stephanie rankades som 6;e bästa hopphäst på världsrankingen år 2014. Nice Stephanie rids av franska ryttarinnan Penelope Leprévost, en av världens bästa ryttare. #[a(href="https://www.youtube.com/watch?v=ltiqasNv3xU" target="_blank") YouTube-länk].
                p.lead.mb-5 
                    | 🌸 2015 Palermo SH e. COMFORTUNA VDL, uppf. Stall Fridshem, såld till Maria af Jochnick (fd Sundberg) på Tärnö Säteri.#[br]🌸 2016 Celebration SH e. COMFORTUNA VDL, såld till Ulfsborgs Gård#[br]🌸 2018 Crystal Perfection SH e. CRISTALLO I, såld till Familjen Torstensson, Dräggesta Gård.#[br]🌸 2020 Stoföl e. COLLECTOR SOILA (Kannan - Baloubet du Rouet) hos sin nya ägare DOS Sporthorses på Irland.

                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/part_two.jpg")


                h2 Kordelia M (F.1)
                p.lead.text-primary.text-ef.mb-2 e. Cortez - Ralme Z, f. 2000. Såld 2019 till Ann-louise Karlsson, Hallstahammar
                p.lead.mb-3
                    | Kordelia har tävlat int 140 och 145 med Lisen Bratt Fredricson och Peder Fredricson.
                p.lead.mb-5 
                    | 🌸2012 Topolino, h, e. PESSOA VDL, uppf/äg Malin & Erik Stjernswärd.#[br]🌸2014 Haffner, h, e. CHIN CHIN, uppf/äg Malin & Erik Stjernswärd.#[br]🌸2016 Carachi, h, e. CARDENTO, uppf Malin & Erik Stjernswärd, äg   Malin & Erik Stjernswärd samt VDL Stud.#[br]🌸Galaxy SH e. GLASGOW VDL, såld 2018 på den första SWB online auktionen till Martin Linell.#[br]🌸 2020 Dräktig med Baloe HP hos sin nya ägarinna.

                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/kordelia.jpg")


                h2 DiaNova (42)
                p.lead.text-primary.text-ef.mb-2 e. Diarado - Cardento, f. 2011. DiaNova fick 2023 gå till de sälla jaktmarkerna pga fång.
                p.lead.mb-3
                    | DiaNova är ett selektionssto, hoppdiplom på treårstestet med 8,5-9.5. Finalist i 4-årschampionatet. Hennes första avkomma, Here Comes the Sun, fick diplom med 9-9 på treårstestet. DiaNovas mormor Nova gick 3-stjärnig internationell fälttävlan och vann NM, DiaNovas mor Stella Nova gick 2-stjärnig internationell fälttävlan och tog medalj i JSM.
                p.lead.mb-5 
                    | 🌸 2015 Here Comes the Sun e. LONDON, uppf/äg: Regårdh Showjumping AB#[br]🌸 2019 Olympia SH e.LONDON, såld till Erika Johansson#[br]🌸 2020 Supernova SH e. BIG STAR, såld till Linda Sandell#[br]🌸 2021 Dräktig med COMME IL FAUT, resorberade#[br]🌸 2022  Chacconova SH e. CHACOOTINO PS, såld till Ann-louise Karlsson


                //- Nova Scotia d'Ive

                //- e. Nabab de Reve - Mr Blue - Baloubet du Rouet - Chin Chin, f. 2014, uppf. Isabelle van Eeckhout. Såld till Catarina Ekholm
                h2 Champagne SH (8)
                p.lead.text-primary.text-ef.mb-2 e. Corporal VDL - Landlord - Irco Mena, f. 2015, uppf. Stjärnholm Equestrian AB. Såld 2023 till Regina Ericson.
                p.lead.mb-3
                    | Mormor är ELIT-stoet Månstrimma, som gett så många fina och framgångsrika avkommor, bl a Anders Wictor L, Cara L, Coimbra L och Kingstone L. Luxor L kommer också från detta möderne, liksom godkände avelshingsten Ramsbergs Vincent L.
                p.lead.mb-5 
                    | 🌸 2023 Lily Bollinger SH e. HEARTBEAT, såld till Ulrika Jönsson Belyazid

                h2 Nova Scotia d'Ive
                p.lead.text-primary.text-ef.mb-2 e. Nabab de Reve - Mr Blue - Baloubet du Rouet - Chin Chin, f. 2014, uppf. Isabelle van Eeckhout. Såld till Catarina Ekholm.
                p.lead.mb-3
                    | Från Stall Hemmets sida:
                    | #[br]"Nova Scotia d'Ive Z är född 2014 och är efter den otroligt betydelsefulla fadershingsten Nabab de Reve. Nabab själv tävlade på allra högsta nivå med Philipe Le Jeune och vann bl.a. lagbrons i VM i Jerez. Han är far till många framgångsrika sporthästar och godkända hingstar. För att nämna några; Kashmir van Schuttershof (far till H&M All In), Vigo d'Arsouilles (far till bl.a Penelope Leprevosts Vagabond de la Pomme) & Glock's London (Gerco Schröder).
                p.lead.mb-3
                    | Nova har 5 syskon:
                    | #[br]- 15 sto e: For Pleasure
                    | #[br]- 16 hingst e: Hervé d'Ive Z
                    | #[br]- 17 hingst e: Chaccoon Blue
                    | #[br]- 18 hingst e: Untouched. Godk hingst: UNION JACK D'IVE Z
                    | #[br]- 19 sto e: Nixon van't Meulenhof
                p.lead.mb-3
                    | Mor Mrs. Blue har en bror (Ballanti d'Ive Z e: Berlin) som tävlar 1,40m och en bror (Knight Rider d'Ive Z e: Kannan) som är godkänd hingst. Morfar till Nova är Mr. Blue. Mr. Blue tävlade upp t.o.m Grand Prix's klasser med Bert Romp. Mr. Blue har lämnat flertalet svårklasshästar men några av de absolut mest kända är de godkända hingstarna Plot Blue (vann bl.a. världscupfinalen i Genéve med Marcus Ehning) & Zirocco Blue (Grand Prix, lagguld EM mm med Jur Vrieling). Mormor Baila d'Ive Z har flera syskon som tävlar, bl.a Quick 'N'easy d'Ive Z (1,45m), Maestro d'Ive Z (1,45m) & Nickelback d'Ive Z (1,35m).
                p.lead.mb-3
                    | Mormorsfar är Baloubet du Rouet, som alla vet tävlades otroligt framgångsrikt av Rodrigo Pessoa med 3 Världscupsegrar i rad, OS guld och många vinster o placeringar på allra högsta nivå. Förutom det har han lämnat hundratals avkommor som tävlar/tävlat svår klass. Mormorsmor Quinta tävlade med placeringar upp t.o.m. 1,35m hoppning och har en bror (Copacabana d'Ive Z e: Calvaro Z) som tävlade 1,45m. Mormorsmorfar är hingsten Chin Chin som även han är en mycket betydelsefull hingst som även han tävlat 1,60m Grand Prix, deltagit i flera Världscupfinaler och tävlat OS två gånger med sin ryttare Jaime Azcarraga. Bakom dessa ovannämda ston återfinns väldigt många ston med utmärkelserna keur, prest, pref mm.
                p.lead.mb-5
                    | Nova Scotia d'Ive Z avkommor:
                    | #[br]🌸 2018 Franklin S.H hingst e. COHINOOR VDL, uppf: Curt-Ove Berggren/Stall Hemmet. 23,5p och 78% på fölmönstring och kvalade in till riksfölchampionatet på Strömsholm.
                    | #[br]🌸 2019 Gambell S.H hingst e. GAMELUS R, uppf: Curt-Ove Berggren/Stall Hemmet. 25p på fölmönstring med bl.a. 8,5p på allmänt intryck, exteriör och 9p på galoppen. Kvalade in till riksfölchampionatet med sina 83,3%. (12:a i FINAL i Falsterbo som 4-åring 2023)
                    | #[br]🌸 2020 Houston S.H hingst e. KANNAN, uppf: Curt-Ove Berggren/Stall Hemmet. 8p på typen, 8p på skritten och 8p på galoppen.
                    | #[br]🌸 2022 Gold Rose SH sto e. KENTUCKY VAN'T RUTERSHOF, såld till Ann-louise Karlsson
                    | #[br]🌸 2023 Gold Edition SH hingst e. EMERALD VAN'T RUYTERSHOF ⭐️ Till salu ⭐️

                h2 Qui-Qui Line 
                p.lead.text-primary.text-ef.mb-2 (Quidam de Revel - Quito de Baussy), f. 2006. Avled tyvärr 2017 i samband med fölning.
                p.lead.mb-3
                    | Qui-Qui själv hade tävlat upp till Msv hoppning. Hon födde 2 föl: Balisco Line och Quidam's Elegance SH, och var även dräktig intill fölning med Diarado och sista året Kannatol, men fölen klarade tyvärr inte dessa fölningar pga felläge. Qui-Qui har nu lämnat jordelivet.
                p.lead.mb-5 
                    | 🌸 2010 Balisco Line f.-10 e. BALTIMORE. Balisco gick till Sverigefinal oktober 2014 i 4-årschampionatet och har nu tävlat felfritt 1,30 hoppning. Balisco vann finalen i 7-årschampionatet i Falsterbo 2017!#[br]🌸 2014 Quidam's Dior SH, stoföl e. DIARADO, Kom baklänges vid fölningen och klarade sig tyvärr ej.#[br]🌸 2015 Quidam's Elegance SH f.-15 e. UNCANTO DI VILLAGANA, såld till Veronica Sjöholm#[br]🌸 2017 Föl e. KANNATOL, kom baklänges vid fölningen, klarade sig tyvärr ej.

                
                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2.mb-5
                        .row.g-0
                            .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/1.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/2.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/qui_qui.jpg")

                p.lead.mb-5
                    | Qui-Qui Lines första föl, Balisco Line, gick 2014 till final i 4-årschampionatet och vann 7-årschampionatet i Falsterbo. Ryttare: Matilda Pettersson

                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2.mb-5
                        .row.g-0
                            .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/3.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.mw-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/4.jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                img.w-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/qui-qui/5.jpg")

                p.lead.mb-5
                    | Quidam's Elegance SH. Såld till Veronica Sjöholm.
                

                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2.mb-5
                        .row.g-0
                            .col-lg-6.col-md-12.mb-4.mb-lg-0.px-2
                                img.mw-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/6.jpg")
                            .col-lg-6.mb-4.mb-lg-0.px-2
                                img.mw-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/7.jpg")

                //- // Gallery
                //- section.showcase.text-white
                //-     .container-fluid.px-2
                //-         .row.g-0
                //-             img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/qui_qui.jpg")
                //-         .row.g-0
                //-             .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                //-                 each val in [0, 1, 2]
                //-                     img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/" + val.toString() + ".jpg")
                //-             .col-lg-4.mb-4.mb-lg-0.px-2
                //-                 each val in [3, 4, 5]
                //-                     img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/" + val.toString() + ".jpg")
                //-             .col-lg-4.mb-4.mb-lg-0.px-2
                //-                 each val in [6, 7, 8]
                //-                     img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/qui-qui/" + val.toString() + ".jpg")


                h2 West Somerset (F.1)
                p.lead.text-primary.text-ef.mb-2 (Cardento - Irco Marco), f. 2005. Såld 2019 till Anna-Karin Jensen, Domsten, Helsingborg. West Somerset avled tyvärr på sensommaren 2020.
                p.lead.mb-3
                    | WS moster Primula vann SM-guld med Maria Gretzer, och 2014 tog godkände hingsten Avon 1177 SM-silver med Jens Fredricson! Avon har samma mormor som West Somerset. Avon reds därefter av Alexander Zetterman. Numera är Avon såld till USA och tävlar där.
                p.lead.mb-5 
                    | 🌸 2009 Canadian Quebec e. CAREFUL, uppf: Jeanette Ågren, såld till Linnéa och Anne Lexander#[br]🌸 2013 Confidence SH e. CABACHON, såld till Sara Nilsson#[br]🌸 2015 Chocolat SH e. ARMANI CODE, såld till Caroline Österqvist#[br]🌸 2016 Wonderful Heart SH e. HEARTBEAT, såld till Lotta Indebetou#[br]🌸 2017 Diamond Card SH e. DIARADO. såld till Ulrika och Robert Schön.#[br]🌸 2018 Crown Princess SH e. ORLANDO, såld till Familjen Nyström.#[br]🌸 2020 Stoföl e. KANNATOL hos sin nya ägarinna.

                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/west_somerset.jpg")


                h2 Lacombe (20)
                p.lead.text-primary.text-ef.mb-2 (Landlord - Irco Mena), f. 1997. Lacombe har gått till de evigt gröna ängarna 2015. Hon var helsyster till min fd häst Landcruiser. 
                p.lead.mb-3
                    | Lacombes mamma är ELIT-stoet Månstrimma, som gett så många fina och mycket framgångsrika avkommor, som bl a Anders Wictor L, Cara L, Coimbra L och Kingstone L. Godkände hingsten Ramsbergs Wincent L kommer från samma stostam som Lacombe. Systersonen Luxor L gick finalen i 6-årschamionatet i Falsterbo 2015, #[a(href="http://www.youtube.com/watch?v=nL8OUj7QNa8" target="_blank") YouTube-länk]. Han tävlar fortsatt framgångsrikt och har placering i SM.
                p.lead.mb-3
                    | Lacombes fina stoföl 2015 e. Corporal VDL, Champagne SH, är nu tillbaka till oss som 7-åring.
                p.lead.mb-5 
                    | 🌸 200? föl e. Cardento, skadad första levnadsveckan tyvärr.#[br]🌸 2006 Quibelle (20)#[br]🌸 2008 Catshing#[br]🌸 2009 Catchina (20)#[br]🌸 2011 Moonlight (20)#[br]🌸 2012 London#[br]🌸 2015 Champagne SH (20), e. Corporal VDL, såld till Ann-Helen Francki.

                // Gallery
                section.showcase.text-white
                    .container-fluid.px-2.mb-5
                        .row.g-0
                            .col-lg-4.col-md-12.mb-4.mb-lg-0.px-2
                                each val in [0, 1, 2]
                                    img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/lacombe/" + val.toString() + ".jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                each val in [3, 4, 5]
                                    img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/lacombe/" + val.toString() + ".jpg")
                            .col-lg-4.mb-4.mb-lg-0.px-2
                                each val in [6, 7, 8]
                                    img.w-100.shadow-1-strong.rounded.mb-4(src="assets/img/tidigare-avelsston/lacombe/" + val.toString() + ".jpg")

                h2 Claire de Lune (8) 
                p.lead.text-primary.text-ef.mb-2 e. Irco Mena - Cardento, f. 2002. Claire de Lune har gått till de evigt gröna ängarna i oktober 2019.
                p.lead.mb-5
                    | 🌸 2007 Corielle de Lune, sto e: Coriall 1100, genomförd semifinal i 4-årschampionatet i hoppning 2011. Placeringar i 1.20.#[br]🌸 2009 Champ de Lune, h e: Ludwigs Champion 1129, fölchampionatvinnare, uppf. C. Svensson, † pga skada.#[br]🌸 2010 Crumelur de Lune, h e: Cosmeo 95299,  fölchampionatvinnare, uppf. C. Svensson, såld på Elitfölauktionen, ägare Carsten Johansen, † 2011 pga skada (sparkad, benbrott).#[br]🌸 2011  Cat'seye de Lune, h e: Diamant de Revel 1217 (Diamant de Semilly - Quidam de Revel), fölbedömning 45 p. † pga skada, gick omkull i hagen, nackkota.#[br]🌸 2014 Boston BC, h e: Boss VDL (Indoctro - Nimmerdor). Hoppdiplom på 3-årstest. Uppf. Stall BC, Ägare Sandra Wikström.#[br]🌸 2015 Cooper BC, h e: Comfortuna VDL. Uppf. Stall BC, Ägare Vattle AB.#[br]🌸 2017 Copyana BC, Uppf. Stall BC, Ägare: Helena Feuk och Stall BC.#[br]🌸 2018 Chantilly SH e. COPYCAT (e.Comme il Faut). Såld till Helena och Ebba Collin, Skåne.


                img.mw-100.shadow-1-strong.rounded.mb-5(src="assets/img/tidigare-avelsston/claire_de_lune.jpg")

