//- vara-avelsston.pug
extends layout.pug

block head
    title Våra avelsston - Stall Stjärnholm 
    meta(name='description', content='Nuvarande avelsston som Stjärnholm Equestrian äger.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Våra avelsston

                h2 Nialotta Z
                p.lead.text-primary.text-ef.mb-2 e. Non Stop - Pilot, f. 2011
                p.lead.mb-3
                    | Nialotta Z är uppfödd av Jan Tops/Tops Horse Trading. Nialottas mamma är legendariska Pialotta: EM-silver lag med Steve Guerdat samt 7:a individuellt. 6:a i Världscupfinalen. VM 4:a med Edwina Tops-Alexander Showjumper och förstås: tillsammans med Rolf-Göran Bengtsson tog Pialotta individuellt brons och lagsilver under EM 🥰 Bland hennes fina syskon har 3 hästar gått 1,45m, två har gått 1,50m och en har gått 1,60m. Nialotta Z har fått 8 föl tidigare hos sin ägare, och fick ett fantastiskt hingstföl e. Ermitage Kalone 2025 som vi sålt till USA. Nialotta fölade i slutet av juni 2025 så vi avstod från att seminera 2025. Hon semineras 2026.  
                p.lead.mb-5 
                    | 🌸 2024 Ermitage Gold SH e. Ermitage Kalone, ägare Diane och Peter T. Halpin, USA

                h2 Chacco Chanel SH Z
                p.lead.text-primary.text-ef.mb-2 e. Chacco Blue - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Chacco Chanel SH Z kommer från Usha vant Roosakker-stolinjen, en av världens absolut bästa stolinjer, som gett så många goda tävlingshästar och godkända hopphingstar. Hennes mormor såldes som 14-åring efter sin tävlingskarriär för ett par år sen, som avelssto, för rekordsumman någonsin för ett avelssto, närmare 6 miljoner kr.
                p.lead.mb-3
                    | Hennes helsyskon och halvsyskon har flertalet sålts som både embryon och föl på auktioner senaste åren, för kring 400 000-520 000 kr.
                p.lead.mb-3
                    | Vi äger även hennes jämnåriga halvsyster, Burberry SH Z (e. Baloubet du Rouet) som är i träning nu efter sitt första föl som 4-åring.
                p.lead.mb-5 
                    | 🌸 2024 Chacco's Sapphire SH e. Plot Pearl Zäta JL
                    | #[br]🌸 Väntar föl 2026 e. Ermitage Kalone

                h2 Bellezza MagiQ
                p.lead.text-primary.text-ef.mb-2 e. For Pleasure - Maloubet de Pleville, f. 2015, uppf. Rebecka Giegold
                p.lead.mb-3
                    | Bellezza MagiQ har sex halvsyskon, bl a godkände hingsten Viggo B MagiQ, ett syskon fick diplom med 50,5p i hoppning och är exporterad USA. Lillebror Bouncing Bill MagiQ ägdes tidigare av Grevlundagården men är nu såld till Sophie Mörner och bor också i USA.
                p.lead.mb-5 
                    | 🌸 2020 Hingstföl e. CONTHARGOS, ägare: Erika Lickhammer van Helmond och Ankan Carlsson
                    | #[br]🌸 2021 Chacco's Treasure SH e. CHACOON BLUE, såld till Mats B Hansson Förvalting AB
                    | #[br]🌸 2022 Top Notch SH e. TANGELO V/D ZUUTHOEVE, såld till Torbjörn Bredenlöw
                    | #[br]🌸 2023 Heliosphere SH e. HARDROCK Z, ägare Torbjörn Bredenlöw
                    | #[br]🌸 Väntar föl 2026 e. Chou Blue

                h2 Quidams Elegance SH
                p.lead.text-primary.text-ef.mb-2 e. Uncanto di Villagana - Quidam de Revel - Quito de Baussy, född 2015
                p.lead.mb-3
                    | Quidam's Elegance SH är vår egen uppfödning som vi kunnat få köpa tillbaka. Hon har hos fg ägare fått två toppenfina Emerald-avkommor varav den ena, Emeraki, fick högsta poäng på 3-årstestet på Flyinge, är nu såld till samarbete ryttaren med Juri Sokolowski. Den andra avkomman, Esprit Combatif, kom 6:a i 6-årsfinalen i Breeders i okt 2025 och kvalade sen till Lövsta Future Challenge på Gothenburg Horse Show, där han gick 3 fina rundor. Ellas äldre bror vann 7-årschampionatet i Falsterbo. Quidam's Elegances kusin såldes för topp-priset 400 000:- på senaste SSHS i nov 2025 😍. ”Ella” kommer att semineras 2026.
                p.lead.mb-5 
                    | 🌸 2019 Esprit Combatif e. EMERALD VAN'T RUYTERSHOF
                    | #[br]🌸 2020 Emeraki e. EMERALD VAN'T RUYTERSHOF

                h2 Tanegie II LN
                p.lead.text-primary.text-ef.mb-2 e. Tangelo van de Zuuthoeve - Cardento - Maraton, f. 2023
                p.lead.mb-3
                    | Under mars 2026 kommer vårt nya sto hem till Sverige, ett toppstammat sto med ett helt fantastiskt möderne: hennes mamma Carnegie (vinst **1,40m och även placering i 1,45m) är helsyster med världskända Carisma (World Cupfinal, VM, vunnit EM, gått EM-final och tre i stolinjen har gått 5* int 1,60.)
                p.lead.mb-3
                    | Systern CHANEGIE LN (Chacco Blue x Cardento x Maraton) vann 2024 Foal Championship i Zangersheide och såldes direkt till VDL Stud
                p.lead.mb-5 
                    | Missa inte denna film om mostern Carisma: https://www.facebook.com/share/v/1HQQdFuVX6
    