//- vara-avelsston.pug
extends layout.pug

block head
    title V친ra avelsston - Stall Stj칛rnholm 
    meta(name='description', content='Nuvarande avelsston som Stj칛rnholm Equestrian 칛ger.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 V친ra avelsston

                h2 Bellezza MagiQ
                p.lead.text-primary.text-ef.mb-2 e. For Pleasure - Maloubet de Pleville, f. 2015, uppf. Rebecka Giegold
                p.lead.mb-3
                    | Bellezza MagiQ har sex halv syskon, bl a godk칛nde hingsten Viggo B MagiQ, samt ett syskon har diplom med 50,5p i hoppning och 칛r exporterad USA. Lillebror Bouncing Bill MagiQ 칛gs av Grevlundag친rden.
                p.lead.mb-5 
                    | 游꺚 2020 Hingstf칬l e. CONTHARGOS, 칛gare: Erika Lickhammer van Helmond och Ankan Carlsson#[br]游꺚 2021 Chacco's Treasure SH e. CHACOON BLUE, s친ld till Mats B Hansson F칬rvalting AB#[br]游꺚 2022 Top Notch SH e. TANGELO V/D ZUUTHOEVE, s친ld till Torbj칬rn Bredenl칬w#[br]游꺚 2023 Heliosphere SH e. HARDROCK Z, 칛gare Torbj칬rn Bredenl칬w

                h3.mb-5 Unga ston som f칬lat 2024

                h2 Burberry SH Z 
                p.lead.text-primary.text-ef.mb-2 e. Baloubet du Rouet - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Betty kommer fr친n Usha vant Roosakker-stolinjen, en av v칛rldens absolut b칛sta stolinjer, som gett s친 m친nga goda t칛vlingsh칛star. Bettys mormor s친ldes som 14-친ring efter sin t칛vlingskarri칛r f칬r ett par 친r sen, som avelssto, f칬r rekordsumman n친gonsin f칬r ett avelssto, n칛rmare 6 miljoner kr.
                p.lead.mb-3
                    | Burberrys helsyskon och halvsyskon har flertalet s친lts som b친de embryon och f칬l p친 auktioner senaste 4 친ren, f칬r kring 400 000-520 000 kr.
                p.lead.mb-3
                    | Vi 칛ger 칛ven Bettys j칛mn친riga halvsyster, Chacco Chanel SH Z (e. Chacco Blue) som hoppade 9-9 p친 sitt 3-친rstest 2023 och bel칬nades med Diplom.
                p.lead.mb-5
                    | 游꺚 2024 Chacco's Baloutina SH e. CHACOON BLUE PS

                h2 Cornet's Lily Rose SH Z
                p.lead.text-primary.text-ef.mb-2 e. Cornet Obolensky - Norton d'Eole (Cento) - Robin Z, f. 2020
                p.lead.mb-3
                    | Lillys mormor 칛r den legendariska H&amp;M Butterfly Flip, som med Malin Baryard deltog i OS i Athen och Sydney, i VM i Aachen och i EM i San Patrignano. Butterfly Flip har 5 avkommor som t칛vlat internationellt, bl a Flip's Little Sparrow (e. Cardento), som t칛vlade st칬rsta klasserna med Peder Fredricson och Stephanie Holm칠n, samt Flips Fairytale (e. Click and Cash), som t칛vlade 1,50.
                p.lead.mb-5
                    | 游꺚 2024 Emperatrice SH e. EMERALD VAN'T RUYTERSHOF