//- vara-avelsston.pug
extends layout.pug

block head
    title V친ra avelsston - Stall Stj칛rnholm 
    meta(name='description', content='DESCRIPTION')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 V친ra avelsston

                h2 Main Question (1)
                p.text-muted.mb-2 e. Cabachon - Irco Marco, f. 2011
                p.lead.mb-3
                    | Main Question har hoppdiplom, och hon s친ldes som 3-친ring p친 SSHS (Swedish Select Horse Sales). Hon har g친tt 4-친rs final, 5-친rs i Falsterbo samt Breeders och har felfria rundor i 130m. MQ kommer fr친n en av Sveriges allra finaste stolinjer. Syster till bl a Cadence (Jennifer Gates) och Main Road (Shane Sweetnam).
                p.lead.mb-3
                    | Fr친n Caroline Hayenhielms sida:#[br]"Modern Camina 칛r ett Elitsto som l칛mnat tio avkommor, varav tv친 godk칛nda s칬ner. Main Defender (SWANA) med placeringar i 145 hoppning och Main Cornet 1395 som startat 125 hoppning. Camina har ocks친 l칛mnat Main Balouba (e. Baloubet du Rouet) fick diplom p친 sitt 3-친rstest med hoppbetyget 10-9,5 samt Main Balouca (e. Baloubet du Rouet) som s친ldes p친 SWBs Elitf칬lauktion 2017 till irl칛ndska toppryttaren Shane Sweetnam.
                p.lead.mb-3
                    | Mormor Main Mirco har t칛vlat i 140 hoppning. Main Mirco har l칛mnat tolv avkommor d칛r Cadence (e. Cardento) och Main Road (e. Heartbeat) 칛r de mest meriterade. Cadence var placerad i Breeders Trophy som 4, 5- och 6-친ring och var i final i Falsterbo som sju친ring. Han fortsatte sedan sin karri칛r med framg친ngar i World Cup, Nations Cup och internationell Grand Prix. Main Road s친ldes som sju친ring till Shane Sweetnam och har segrar och placeringar i internationell 160 hoppning. Main Mirco har 칛ven l칛mnat Marion Zeta (e. Robin Z) som t칛vlat internationell 145 hoppning samt Marcenzo i 140 hoppning. Fem av Main Mircos avkommor har tilldelats diplom vid ungh칛stbed칬mningar. Main Question (e. Cabachon) och Qummin (e. Quite Easy) 칛r b친da s친lda p친 Swedish Select Hors Sales hopph칛stauktion. Main Hillary (e. Clinton I) och Main Question har placeringar i 130 hoppning. Main Mircos moder Main Point (e. Crown Point xx) har l칛mnat totalt sju avkommor, varav tre 칛r placerade i 150 hoppning och tre i 140 hoppning."
                p.lead.mb-5 
                    | 游꺚 2020 Main Connoiseur SH e. KANNATOL. Del칛gs med Johanna Wall.#[br]游꺚 2022 Dr칛ktig med HEARTBEAT


                h2 Dia Nova (42)
                p.text-muted.mb-2 e. Diarado - Cardento, f. 2011
                p.lead.mb-3
                    | Dia Nova 칛r ett selektionssto, hoppdiplom p친 tre친rstestet med 8,5-9.5. Finalist i 4-친rschampionatet. Hennes f칬rsta avkomma, Here Comes the Sun, fick diplom med 9-9 p친 tre친rstestet. Dia Novas mormor Nova gick 3-stj칛rnig internationell f칛ltt칛vlan och vann NM, Dia Novas mor Stella Nova gick 2-stj칛rnig internationell f칛ltt칛vlan och tog medalj i JSM.
                p.lead.mb-5 
                    | 游꺚 2015 Here Comes the Sun e. LONDON, uppf/칛g: Reg친rdh Showjumping AB#[br]游꺚 2019 Olympia SH e.LONDON, s친ld till Erika Johansson#[br]游꺚 2020 Supernova SH e. BIG STAR, s친ld till Linda Sandell#[br]游꺚 2021 Dr칛ktig med COMME IL FAUT, resorberade#[br]游꺚 2022 Dr칛ktig med CHACOOTINO PS



                h2 Bellezza MagiQ
                p.text-muted.mb-2 e. For Pleasure - Maloubet de Pleville, f. 2015, uppf. Rebecka Giegold
                p.lead.mb-3
                    | Bellezza har en bror som 칛r godk칛nd hingst, och en till bror som 칛gs av Grevlundag친rden
                p.lead.mb-5 
                    | 游꺚 2020 Hingstf칬l e. CONTHARGOS, 칛gare: Erika Lickhammer van Helmond och Ankan Carlsson#[br]游꺚 2021 Chacco's Treasure SH e. CHACOON BLUE, s친ld till Mats B Hansson F칬rvalting AB#[br]游꺚 2022 Dr칛ktig med TANGELO V/D ZUUTHOEVE



                h2 Nova Scotia d'Ive
                p.text-muted.mb-2 e. Nabab de Reve - Mr Blue - Baloubet du Rouet - Chin Chin, f. 2014, uppf. Isabelle van Eeckhout
                p.lead.mb-3 
                    | Fr친n Stall Hemmets sida:#[br]"Nova Scotia d'Ive Z 칛r f칬dd 2014 och 칛r efter den otroligt betydelsefulla fadershingsten Nabab de Reve. Nabab sj칛lv t칛vlade p친 allra h칬gsta niv친 med Philipe Le Jeune och vann bl.a. lagbrons i VM i Jerez. Han 칛r far till m친nga framg친ngsrika sporth칛star och godk칛nda hingstar. F칬r att n칛mna n친gra; Kashmir van Schuttershof (far till H&amp;M All In), Vigo d'Arsouilles (far till bl.a Penelope Leprevosts Vagabond de la Pomme) &amp; Glock's London (Gerco Schr칬der). 
                p.lead.mb-3 
                    | Nova har 5 syskon:#[br]-15 sto e: For Pleasure#[br]-16 hingst e: Herv칠 d'Ive Z#[br]-17 hingst e: Chaccoon Blue#[br]-18 hingst e: Untouched#[br]-19 sto e: Nixon van't meulenhof
                p.lead.mb-3 
                    | Mor Mrs. Blue har en bror (Ballanti d'Ive Z e: Berlin) som t칛vlar 1,40m och en bror (Knight Rider d'Ive Z e: Kannan) som 칛r godk칛nd hingst. Morfar till Nova 칛r Mr. Blue. Mr. Blue t칛vlade upp t.o.m Grand Prix's klasser med Bert Romp. Mr. Blue har l칛mnat flertalet sv친rklassh칛star men n친gra av de absolut mest k칛nda 칛r de godk칛nda hingstarna Plot Blue (vann bl.a. v칛rldscupfinalen i Gen칠ve med Marcus Ehning) &amp; Zirocco Blue (Grand Prix, lagguld EM mm med Jur Vrieling). Mormor Baila d'Ive Z har flera syskon som t칛vlar, bl.a Quick 'N'easy d'Ive Z (1,45m), Maestro d'Ive Z (1,45m) &amp; Nickelback d'Ive Z (1,35m). 
                p.lead.mb-3 
                    | Mormorsfar 칛r Baloubet du Rouet, som alla vet t칛vlades otroligt framg친ngsrikt av Rodrigo Pessoa med 3 V칛rldscupsegrar i rad, OS guld och m친nga vinster o placeringar p친 allra h칬gsta niv친. F칬rutom det har han l칛mnat hundratals avkommor som t칛vlar/t칛vlat sv친r klass. Mormorsmor Quinta t칛vlade med placeringar upp t.o.m. 1,35m hoppning och har en bror (Copacabana d'Ive Z e: Calvaro Z) som t칛vlade 1,45m. Mormorsmorfar 칛r hingsten Chin Chin som 칛ven han 칛r en mycket betydelsefull hingst som 칛ven han t칛vlat 1,60m Grand Prix, deltagit i flera V칛rldscupfinaler och t칛vlat OS tv친 g친nger med sin ryttare Jaime Azcarraga. Bakom dessa ovann칛mda ston 친terfinns v칛ldigt m친nga ston med utm칛rkelserna keur, prest, pref mm.
                p.lead.mb-3
                    | Nova Scotia d'Ive Z avkommor:#[br]#[b 2018:] Franklin S.H hingst e: Cohinoor VDL (Cornet Obolensky-Stakkato). Franklin fick 23,5p och 78% p친 f칬lm칬nstring och kvalade in till riksf칬lchampionatet p친 Str칬msholm.#[br]#[b 2019:] Gambell S.H hingst e: Gamelus R visades med fina 25p p친 f칬lm칬nstring med bl.a. 8,5p p친 allm칛nt intryck, exteri칬r och 9p p친 galoppen. Kvalade in till riksf칬lchampionatet med sina 83,3%.#[br]#[b 2020:] Houston S.H hingst e: Kannan bed칬mdes med bl.a. 8p p친 typen, 8p p친 skritten och 8p p친 galoppen."
                p.lead.mb-5 
                    | 游꺚 2018 Franklin S.H e. COHINOOR VDL, uppf: Curt-Ove Berggren/Stall Hemmet#[br]游꺚 2019 Gambell S.H e. GAMELUS R, uppf: Curt-Ove Berggren/Stall Hemmet#[br]游꺚 2020 Houston S.H e. KANNAN, uppf: Curt-Ove Berggren/Stall Hemmet#[br]游꺚 2022 Dr칛ktig med KENTUCKY VAN`T RUTERSHOF



                h2 Champagne SH (8)
                p.text-muted.mb-2 e. Corporal VDL - Landlord - Irco Mena, f. 2015.
                p.lead.mb-3
                    | Mormor 칛r ELIT-stoet M친nstrimma, som gett s친 m친nga fina och framg친ngsrika avkommor, bl a Anders Wictor L, Cara L, Coimbra L och Kingstone L. Luxor L kommer ocks친 fr친n detta m칬derne,liksom godk칛nde avelshingsten Ramsbergs Vincent L.
                p.lead.mb-5 
                    | 游꺚 Semineras 2022 f칬r f칬rsta g친ngen


