//- vara-avelsston.pug
extends layout.pug

block head
    title Våra avelsston - Stall Stjärnholm 
    meta(name='description', content='Nuvarande avelsston som Stjärnholm Equestrian äger.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Våra avelsston

                h2 Nialotta Z
                p.lead.text-primary.text-ef.mb-2 e. Non Stop - Pilot, f. 2011
                p.lead.mb-3
                    | Nialotta Z är uppfödd av Jan Tops/Tops Horse Trading. Nialottas mamma är legendariska Pialotta: EM-silver lag med Steve Guerdat samt 7:a individuellt. 6:a i Världscupfinalen. VM 4:a med Edwina Tops-Alexander Showjumper och förstås: tillsammans med Rolf-Göran Bengtsson tog Pialotta individuellt brons och lagsilver under EM 🥰 Bland hennes fina syskon har 3 hästar gått 1,45m, två har gått 1,50m och en har gått 1,60m. Nialotta Z har fått 8 föl tidigare hos sin ägare, och fick ett fantastiskt hingstföl e. Ermitage Kalone 2025 som vi sålt till USA. Nialotta fölade i slutet av juni 2025 så vi avstod från att seminera 2025.
                p.lead.mb-5 
                    | 🌸 2025 Ermitage Gold SH e. ERMITAGE KALONE, ägare Diane och Peter T. Halpin, USA
                    | #[br]🌸 Nialotta är dräktig med ERMITAGE KALONE för föl 2027

                h2 Chacco Chanel SH Z
                p.lead.text-primary.text-ef.mb-2 e. Chacco Blue - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Chacco Chanel SH Z kommer från Usha vant Roosakker-stolinjen, en av världens absolut bästa stolinjer, som gett så många goda tävlingshästar och godkända hopphingstar. Hennes mormor såldes som 14-åring efter sin tävlingskarriär för ett par år sen, som avelssto, för rekordsumman någonsin för ett avelssto, närmare 6 miljoner kr.
                p.lead.mb-3
                    | Hennes helsyskon och halvsyskon har flertalet sålts som både embryon och föl på auktioner senaste åren, för kring 400 000-520 000 kr.
                p.lead.mb-3
                    | Denna enastående familj har producerat många 1m60 Grand Prix-hästar, inklusive Attoucha Hero Z, Tinkoucha Hero Z (Tinka´s Hero Z), Electra van't Roosakker, Kaprice van't Roosakker, H5 Ganesh Hero Z och Dourkhan Hero Z. Med sin toppstam, kvalitet och sportpotential representerar Chacco Chanels avkommor en värdefull investering för både sport och avel.
                p.lead.mb-3
                    | Vi äger även hennes jämnåriga halvsyster, Burberry SH Z (e. Baloubet du Rouet).
                p.lead.mb-3
                    | Chacco Chanel hoppade 9-9 på sitt 3-årstest 2023 och belönades med Diplom. Hon är dräktig med ERMITAGE KALONE för föl 2027!
                p.lead.mb-5 
                    | 🌸 2025 Chacco's Sapphire SH e. PLOT PEARL ZÄTA JL, ägare Familjen Lundbäck
                    | #[br]🌸 2026 Chacco´s Ermionie SH e. ERMITAGE KALONE ⭐️TILL SALU!⭐️
                    | #[br]🌸 Chacco Chanel är dräktig med ERMITAGE KALONE för föl 2027

                h2 Burberry SH Z
                p.lead.text-primary.text-ef.mb-2 e. Baloubet du Rouet - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Burberry SH Z kommer från Usha vant Roosakker-stolinjen, en av världens absolut bästa stolinjer, se ovan, Burberry är nämligen halvsyster till Chacco Chanel SH Z.
                p.lead.mb-5
                    | 🌸 2024: Chacco's Baloutina SH e. CHACOON BLUE PS, såld till Hanna Viklund, Boda Gård.
                    | #[br]🌸 Burberry är dräktig med CHACCAFLY CL för föl 2027.

                h2 Bellezza MagiQ
                p.lead.text-primary.text-ef.mb-2 e. For Pleasure - Maloubet de Pleville, f. 2015, uppf. Rebecka Giegold
                p.lead.mb-3
                    | Bellezza MagiQ har sex halvsyskon, bl a godkände hingsten Viggo B MagiQ, ett syskon fick diplom med 50,5p i hoppning och är exporterad USA. Lillebror Bouncing Bill MagiQ ägdes tidigare av Grevlundagården men är nu såld till Sophie Mörner och bor också i USA.
                p.lead.mb-5 
                    | 🌸 2020 Hingstföl e. CONTHARGOS, uppfödare: Erika Lickhammer van Helmond och Ankan Carlsson
                    | #[br]🌸 2021 Chacco's Treasure SH e. CHACOON BLUE, såld till Mats B Hansson Förvalting AB
                    | #[br]🌸 2022 Top Notch SH e. TANGELO V/D ZUUTHOEVE, såld till Torbjörn Bredenlöw
                    | #[br]🌸 2023 Heliosphere SH e. HARDROCK Z, ägare Torbjörn Bredenlöw
                    | #[br]🌸 2026 Chaccosphere SH e. CHOU BLUE ⭐️TILL SALU!⭐️
                    | #[br]🌸 Bella är dräktig med CC STUD'S FIDELITY för föl 2027.

                h2 Quidams Elegance SH
                p.lead.text-primary.text-ef.mb-2 e. Uncanto di Villagana - Quidam de Revel - Quito de Baussy, född 2015
                p.lead.mb-3
                    | Quidam's Elegance SH är vår egen uppfödning som vi kunnat få köpa tillbaka. Hon har hos fg ägare fått två toppenfina Emerald-avkommor varav den ena, Emeraki, fick högsta poäng på 3-årstestet på Flyinge, är nu såld till samarbete ryttaren med Juri Sokolowski. Den andra avkomman, Esprit Combatif, kom 6:a i 6-årsfinalen i Breeders i okt 2025 och kvalade sen till Lövsta Future Challenge på Gothenburg Horse Show, där han gick 3 fina rundor. Ellas äldre bror vann 7-årschampionatet i Falsterbo. Quidam's Elegances kusin såldes för topp-priset 400 000:- på senaste SSHS i nov 2025 😍.
                p.lead.mb-5 
                    | 🌸 2019 Esprit Combatif e. EMERALD VAN'T RUYTERSHOF
                    | #[br]🌸 2020 Emeraki e. EMERALD VAN'T RUYTERSHOF
                    | #[br]🌸 Ella är dräktig med FAVORIT ASK för föl 2027

                h2 Tanegie II LN Z
                p.lead.text-primary.text-ef.mb-2 e. Tangelo van de Zuuthoeve - Cardento - Maraton, f. 2023
                p.lead.mb-3
                    | I mars 2026 kom vårt nya sto hem till Sverige, ett toppstammat sto med ett helt fantastiskt möderne: hennes mamma Carnegie (vinst **1,40m och även placering i 1,45m) är helsyster med världskända Carisma (World Cupfinal, VM, vunnit EM, gått EM-final och tre i stolinjen har gått 5* int 1,60.)
                p.lead.mb-3
                    | CHANEGIE LN Z vann Dutch Zangersheide Foal Championship 2024 i klassen för stoföl och såldes därefter på Trigon-auktionen för 56 000 euro till välkända VDL Stud.
                p.lead.mb-5 
                    | Missa inte denna film om mostern Carisma: https://www.facebook.com/share/v/1HQQdFuVX6
                    | #[br]🌸 Tanegie är dräktig med EXCELSIOR OPTIMUS för föl 2027!

                h2 Dixie Chicks B
                p.lead.text-primary.text-ef.mb-2 e. Indoctro - Pilot, f. 2010
                p.lead.mb-3
                    | Dixie är också ett nytt sto för oss, ett otroligt fint avelssto som kommer från ELIT-stoet Pilots Rendezvous, som fått 3 godkända söner.
                p.lead.mb-3
                    | Med sitt ljuvliga temperament, sin sagolikt fina hanterbarhet och gedigna stam är hon en riktig drottning. Hon har fått 3 fina avkommor tidigare varav en tävlat i Falsterbo.
                p.lead.mb-5
                    | 🌸 Dixie är dräktig med EXCELSIOR OPTIMUS för föl 2027

                h2 Ciani LN Z
                p.lead.text-primary.text-ef.mb-2 e. Chacco Blue – Cardento – Diamant de Semilly, f. 2023
                p.lead.mb-3
                    | Cia kommer från ett mycket gott möderne: hennes mamma har gått 1,50 hoppning, 2 syskon går svår hoppning. Cia är kusin till Steely Dan som tävlas av Henrik von Eckerman (bl a i Falsterbo 2025), deras mammor är dessutom helsystrar! Hon tävlade i oktober 2025 på Eklunda Open med jättefina poäng och erhöll mycket fina poäng även på sitt 3-årstest.
                p.lead.mb-5
                    | Cia var ett högbent och elegant skimmelsto av mycket internationell typ. Hon fick tyvärr gå till de sälla jaktmarkerna i juni 2026. Vi hann rädda hennes värdefulla ägg med hjälp av OPU/ICSI och har nu två frysta embryon e. UNITED TOUCH S!
    