//- vara-avelsston.pug
extends layout.pug

block head
    title Våra avelsston - Stall Stjärnholm 
    meta(name='description', content='Nuvarande avelsston som Stjärnholm Equestrian äger.')

block content
    include masthead-small

    // Content to fade in
    div(class="to-fade-in")
        // Title
        section.testimonials.text-center.text-white
            .container
                h1.mb-5 Våra avelsston

                h2 Nialotta Z
                p.lead.text-primary.text-ef.mb-2 e. Non Stop – Pilot, f. 2011

                h2 Bellezza MagiQ
                p.lead.text-primary.text-ef.mb-2 e. For Pleasure - Maloubet de Pleville, f. 2015, uppf. Rebecka Giegold
                p.lead.mb-3
                    | Bellezza MagiQ har sex halv syskon, bl a godkände hingsten Viggo B MagiQ, samt ett syskon har diplom med 50,5p i hoppning och är exporterad USA. Lillebror Bouncing Bill MagiQ ägs av Grevlundagården.
                p.lead.mb-5 
                    | 🌸 2020 Hingstföl e. CONTHARGOS, ägare: Erika Lickhammer van Helmond och Ankan Carlsson#[br]🌸 2021 Chacco's Treasure SH e. CHACOON BLUE, såld till Mats B Hansson Förvalting AB#[br]🌸 2022 Top Notch SH e. TANGELO V/D ZUUTHOEVE, såld till Torbjörn Bredenlöw#[br]🌸 2023 Heliosphere SH e. HARDROCK Z, ägare Torbjörn Bredenlöw


                h2 Burberry SH Z 
                p.lead.text-primary.text-ef.mb-2 e. Baloubet du Rouet - Cornet Obolensky - Diamant de Semilly, f. 2020
                p.lead.mb-3
                    | Betty kommer från Usha vant Roosakker-stolinjen, en av världens absolut bästa stolinjer, som gett så många goda tävlingshästar. Bettys mormor såldes som 14-åring efter sin tävlingskarriär för ett par år sen, som avelssto, för rekordsumman någonsin för ett avelssto, närmare 6 miljoner kr.
                p.lead.mb-3
                    | Burberrys helsyskon och halvsyskon har flertalet sålts som både embryon och föl på auktioner senaste 4 åren, för kring 400 000-520 000 kr.
                p.lead.mb-3
                    | Vi äger även Bettys jämnåriga halvsyster, Chacco Chanel SH Z (e. Chacco Blue) som hoppade 9-9 på sitt 3-årstest 2023 och belönades med Diplom.
                p.lead.mb-5
                    | 🌸 2024 Chacco's Baloutina SH e. CHACOON BLUE PS

                h2 Cornet's Lily Rose SH Z
                p.lead.text-primary.text-ef.mb-2 e. Cornet Obolensky - Norton d'Eole (Cento) - Robin Z, f. 2020
                p.lead.mb-3
                    | Lillys mormor är den legendariska H&amp;M Butterfly Flip, som med Malin Baryard deltog i OS i Athen och Sydney, i VM i Aachen och i EM i San Patrignano. Butterfly Flip har 5 avkommor som tävlat internationellt, bl a Flip's Little Sparrow (e. Cardento), som tävlade största klasserna med Peder Fredricson och Stephanie Holmén, samt Flips Fairytale (e. Click and Cash), som tävlade 1,50.
                p.lead.mb-5
                    | 🌸 2024 Emperatrice SH e. EMERALD VAN'T RUYTERSHOF