// 
// Global
// 

// Use this file to add styling to your theme
.smab-link {
    a {
        // color: #ffffff;
        color: inherit;
        // text-decoration: none;
        // display: inline-block;
        // display: block;
        // padding: 0px;
        // margin: 0px;
    }

    a:hover {
        color:#dddddd; 
        // text-decoration:none; 
        cursor:pointer;  
    }
}

// Navbar
.nav-link.active {
    color:            #F8F8F8;
    // background-color: #4f81bd;
    background-color: #c067b9;
    border-radius: 5px
}

a.nav-link {
    color: #F8F8F8
}

a.nav-link:hover {
    color: #ff7af6 !important;
}

a.nav-link.active:hover {
    color: #F8F8F8 !important;
}


div.to-fade-in {
    display: none
}

div.title-to-fade-in {
    display: none
}

div.subtitle-to-fade-in {
    display: none
}

// Text for parents, birth year...
p.text-ef {
    color: #f3aee5 !important
}